<a href="https://colab.research.google.com/github/MikeDaBossss/Placestolive/blob/master/rent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
upload = files.upload()#'/content/drive/My Drive/jobs_indeed.csv'

In [0]:
upload

{}

In [0]:
import pandas as pd
countyrent = pd.read_excel('/content/drive/My Drive/MedianRentCounty.xls')

In [0]:
countyrent.to_excel('/content/drive/My Drive/MedianRentCounty.xls')

In [0]:
countyrent

In [0]:
import folium
from folium import plugins
m = folium.Map([42, -80.6298], zoom_start=11)
m.add_children(plugins.HeatMap(stationArr, radius=15))

In [0]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="specify_your_app_name_here")
location = geolocator.geocode("Aibonito Municipio")
print(location.address)

Aibonito, Puerto Rico, 00705, United States of America

In [0]:
countyrent['cntyname']

0           Aibonito Municipio
1       Barranquitas Municipio
2             Ciales Municipio
3            Maunabo Municipio
4           Orocovis Municipio
                 ...
4765               Knox County
4766            Lincoln County
4767            Grafton County
4768           Franklin County
4769         Washington County
Name: cntyname, Length: 4770, dtype: object

In [0]:
lat = []
lon = []

for name in countyrent['cntyname'] : 
  print(name)
  try:
    lat.append(geolocator.geocode(name).latitude)
    lon.append(geolocator.geocode(name).longitude)
  except:
    lat.append(0)
    lon.append(0)
    print('error')
countyrent['lat'] = lat
countyrent['lon'] = lon

In [0]:
#this api did not work even though it has worked in the past for me.

In [0]:
from geopy.geocoders import Pelias
geolocat = Pelias(timeout=.1)
location = geolocator.geocode("Aibonito Municipio")
print(location.address)

TypeError: ignored

In [0]:
#other things that would be important to make the rent relative is the income that a person would be making. Let me download the data for different jobs in different locations
from google.colab import files
upload = files.upload()#'/content/drive/My Drive/jobs_indeed.csv'

Saving state_M2018_dl.xlsx to state_M2018_dl.xlsx

In [0]:
import pandas as pd
countyrent = pd.read_excel('state_M2018_dl.xlsx')
countyrent.to_excel('/content/drive/My Drive/JobIncomeperState.xlsx')

In [0]:
import pandas as pd
countyrent= pd.read_excel('/content/drive/My Drive/JobIncomeperState.xlsx')

In [38]:
countyrent

       Unnamed: 0  AREA  ST           STATE  ... A_PCT75 A_PCT90 ANNUAL HOURLY
0               0     1  AL         Alabama  ...   53310   79630    NaN    NaN
1               1     1  AL         Alabama  ...  132860  187330    NaN    NaN
2               2     1  AL         Alabama  ...       #       #    NaN    NaN
3               3     1  AL         Alabama  ...  147250       #    NaN    NaN
4               4     1  AL         Alabama  ...   32290   63390    1.0    NaN
...           ...   ...  ..             ...  ...     ...     ...    ...    ...
36892       36892    78  VI  Virgin Islands  ...   27330   30560    NaN    NaN
36893       36893    78  VI  Virgin Islands  ...   30590   44290    NaN    NaN
36894       36894    78  VI  Virgin Islands  ...   35980   41290    NaN    NaN
36895       36895    78  VI  Virgin Islands  ...   33640   41090    NaN    NaN
36896       36896    78  VI  Virgin Islands  ...   21070   24270    NaN    NaN

[36897 rows x 26 columns]

In [39]:
countyrent[countyrent['OCC_TITLE'].str.contains('Analyst')]['OCC_TITLE'].unique()

array(['Management Analysts',
       'Market Research Analysts and Marketing Specialists',
       'Budget Analysts', 'Credit Analysts', 'Financial Analysts',
       'Computer Systems Analysts', 'Information Security Analysts',
       'Operations Research Analysts', 'Broadcast News Analysts'],
      dtype=object)

In [0]:
#Budget Analyst is what I could do an analysis on 
countyrent[countyrent['OCC_TITLE'].str.contains('Budget Analyst')].sort_values(by='A_MEDIAN',ascending=False)

       Unnamed: 0  AREA  ST  ... A_PCT90 ANNUAL HOURLY
5592         5592    11  DC  ...  126060    NaN    NaN
13972       13972    24  MD  ...  124390    NaN    NaN
32451       32451    51  VA  ...  126070    NaN    NaN
2790         2790     6  CA  ...  133020    NaN    NaN
14730       14730    25  MA  ...  122010    NaN    NaN
4358         4358     9  CT  ...  109320    NaN    NaN
52             52     1  AL  ...  116710    NaN    NaN
21103       21103    34  NJ  ...  123710    NaN    NaN
27758       27758    44  RI  ...  117470    NaN    NaN
3603         3603     8  CO  ...  112640    NaN    NaN
7670         7670    15  HI  ...  103310    NaN    NaN
15483       15483    26  MI  ...  104130    NaN    NaN
788           788     2  AK  ...  105850    NaN    NaN
16260       16260    27  MN  ...  110080    NaN    NaN
22521       22521    36  NY  ...  110570    NaN    NaN
31186       31186    49  UT  ...  101780    NaN    NaN
20447       20447    33  NH  ...  100590    NaN    NaN
26208       26208    41  OR  ...   98120    NaN    NaN
21863       21863    35  NM  ...  107040    NaN    NaN
30378       30378    48  TX  ...  116550    NaN    NaN
33205       33205    53  WA  ...  103450    NaN    NaN
8914         8914    17  IL  ...  105340    NaN    NaN
10469       10469    19  IA  ...  104950    NaN    NaN
24684       24684    39  OH  ...  104230    NaN    NaN
13342       13342    23  ME  ...  104240    NaN    NaN
34635       34635    55  WI  ...   98300    NaN    NaN
26966       26966    42  PA  ...  102150    NaN    NaN
31893       31893    50  VT  ...   90490    NaN    NaN
5047         5047    10  DE  ...   97600    NaN    NaN
25475       25475    40  OK  ...   99140    NaN    NaN
6121         6121    12  FL  ...  103260    NaN    NaN
23315       23315    37  NC  ...  101280    NaN    NaN
1350         1350     4  AZ  ...  100420    NaN    NaN
29608       29608    47  TN  ...  101840    NaN    NaN
9698         9698    18  IN  ...   99490    NaN    NaN
6916         6916    13  GA  ...  102520    NaN    NaN
28329       28329    45  SC  ...   95390    NaN    NaN
19767       19767    32  NV  ...   96910    NaN    NaN
24068       24068    38  ND  ...   93130    NaN    NaN
35376       35376    56  WY  ...   95090    NaN    NaN
11185       11185    20  KS  ...   93610    NaN    NaN
17693       17693    29  MO  ...  100060    NaN    NaN
33967       33967    54  WV  ...  100380    NaN    NaN
12617       12617    22  LA  ...   95990    NaN    NaN
8266         8266    16  ID  ...   90160    NaN    NaN
17008       17008    28  MS  ...   83780    NaN    NaN
18450       18450    30  MT  ...   79600    NaN    NaN
29033       29033    46  SD  ...   85300    NaN    NaN
35909       35909    66  GU  ...   76880    NaN    NaN
19089       19089    31  NE  ...   95370    NaN    NaN
11887       11887    21  KY  ...   83500    NaN    NaN
36746       36746    78  VI  ...   70600    NaN    NaN
2098         2098     5  AR  ...   78470    NaN    NaN
36181       36181    72  PR  ...   69000    NaN    NaN

[54 rows x 26 columns]

In [0]:
countyrent[countyrent['LOC_Q'].str.isalnum() == False]

       Unnamed: 0  AREA  ST           STATE  ... A_PCT75 A_PCT90 ANNUAL HOURLY
64             64     1  AL         Alabama  ...  157660       #    NaN    NaN
118           118     1  AL         Alabama  ...   70130  102130    NaN    NaN
191           191     1  AL         Alabama  ...   95320  114230    1.0    NaN
211           211     1  AL         Alabama  ...   50600   60080    1.0    NaN
215           215     1  AL         Alabama  ...   57860   61820    1.0    NaN
...           ...   ...  ..             ...  ...     ...     ...    ...    ...
36869       36869    78  VI  Virgin Islands  ...   47700   52420    NaN    NaN
36870       36870    78  VI  Virgin Islands  ...   35190   38260    NaN    NaN
36877       36877    78  VI  Virgin Islands  ...   67790   77360    NaN    NaN
36893       36893    78  VI  Virgin Islands  ...   30590   44290    NaN    NaN
36895       36895    78  VI  Virgin Islands  ...   33640   41090    NaN    NaN

[1562 rows x 26 columns]

In [0]:
countyrent.replace('**', 0, inplace=True)

In [0]:
countyrent[countyrent['LOC_Q'].str.isalnum() == False]

AttributeError: ignored

In [0]:
countyrent[countyrent['OCC_TITLE'].str.contains('Budget Analyst')].sort_values(by='LOC_Q',ascending=False)[:10]

       Unnamed: 0  AREA  ST  ... A_PCT90 ANNUAL HOURLY
5592         5592    11  DC  ...  126060    NaN    NaN
788           788     2  AK  ...  105850    NaN    NaN
32451       32451    51  VA  ...  126070    NaN    NaN
35909       35909    66  GU  ...   76880    NaN    NaN
13972       13972    24  MD  ...  124390    NaN    NaN
21863       21863    35  NM  ...  107040    NaN    NaN
4358         4358     9  CT  ...  109320    NaN    NaN
36181       36181    72  PR  ...   69000    NaN    NaN
21103       21103    34  NJ  ...  123710    NaN    NaN
18450       18450    30  MT  ...   79600    NaN    NaN

[10 rows x 26 columns]

In [45]:
countyrent[countyrent['OCC_TITLE'].str.contains('Budget Analyst')].sort_values(by='TOT_EMP',ascending=False)[:10]

       Unnamed: 0  AREA  ST  ... A_PCT90 ANNUAL HOURLY
2790         2790     6  CA  ...  133020    NaN    NaN
30378       30378    48  TX  ...  116550    NaN    NaN
32451       32451    51  VA  ...  126070    NaN    NaN
6121         6121    12  FL  ...  103260    NaN    NaN
22521       22521    36  NY  ...  110570    NaN    NaN
13972       13972    24  MD  ...  124390    NaN    NaN
21103       21103    34  NJ  ...  123710    NaN    NaN
5592         5592    11  DC  ...  126060    NaN    NaN
6916         6916    13  GA  ...  102520    NaN    NaN
14730       14730    25  MA  ...  122010    NaN    NaN

[10 rows x 26 columns]

In [0]:
countyrent['Wage_Premium'] = countyrent[countyrent['OCC_TITLE'].str.contains('

SyntaxError: ignored

In [41]:
countyrent['A_MEDIAN'] = countyrent['A_MEDIAN'].astype(str)
countyrent.replace('*', 0, inplace=True)
countyrent.replace('#', 0, inplace=True)
countyrent[countyrent['A_MEDIAN'].str.isdigit() == False]['A_MEDIAN'].value_counts()

Series([], Name: A_MEDIAN, dtype: int64)

In [0]:
countyrent['A_MEDIAN'] = countyrent['A_MEDIAN'].astype(int)

In [15]:
countyrent['A_MEDIAN']

0         33740
1         95710
2        189920
3        100980
4         19210
          ...
36892     23430
36893     28240
36894     24870
36895     27400
36896     20450
Name: A_MEDIAN, Length: 36897, dtype: int64

In [0]:
states_median_income = countyrent.groupby('STATE')['A_MEDIAN'].agg('median')

In [49]:
countyrent.groupby('STATE')['A_MEDIAN'].median()

STATE
Alabama                 40590
Alaska                  56300
Arizona                 43340
Arkansas                38875
California              53240
Colorado                47630
Connecticut             53805
Delaware                44810
District of Columbia    61675
Florida                 41040
Georgia                 42720
Guam                    31410
Hawaii                  51390
Idaho                   41030
Illinois                49765
Indiana                 41065
Iowa                    43010
Kansas                  43155
Kentucky                42695
Louisiana               40880
Maine                   44970
Maryland                49280
Massachusetts           53760
Michigan                44255
Minnesota               49395
Mississippi             37840
Missouri                44010
Montana                 42390
Nebraska                42830
Nevada                  48050
New Hampshire           45480
New Jersey              53400
New Mexico              42530
New York                53585
North Carolina          43080
North Dakota            46590
Ohio                    44030
Oklahoma                39865
Oregon                  48450
Pennsylvania            46470
Puerto Rico             25460
Rhode Island            48690
South Carolina          40840
South Dakota            39380
Tennessee               41540
Texas                   44430
Utah                    43770
Vermont                 43090
Virgin Islands          34240
Virginia                45555
Washington              53250
West Virginia           41025
Wisconsin               45235
Wyoming                 47030
Name: A_MEDIAN, dtype: int64

In [0]:
countyrent['test'] = countyrent.groupby('STATE')['A_MEDIAN'].median()

In [0]:
countyrent

       Unnamed: 0  AREA  ST           STATE  ... A_PCT90 ANNUAL HOURLY  test
0               0     1  AL         Alabama  ...   79630    NaN    NaN   NaN
1               1     1  AL         Alabama  ...  187330    NaN    NaN   NaN
2               2     1  AL         Alabama  ...       0    NaN    NaN   NaN
3               3     1  AL         Alabama  ...       0    NaN    NaN   NaN
4               4     1  AL         Alabama  ...   63390    1.0    NaN   NaN
...           ...   ...  ..             ...  ...     ...    ...    ...   ...
36892       36892    78  VI  Virgin Islands  ...   30560    NaN    NaN   NaN
36893       36893    78  VI  Virgin Islands  ...   44290    NaN    NaN   NaN
36894       36894    78  VI  Virgin Islands  ...   41290    NaN    NaN   NaN
36895       36895    78  VI  Virgin Islands  ...   41090    NaN    NaN   NaN
36896       36896    78  VI  Virgin Islands  ...   24270    NaN    NaN   NaN

[36897 rows x 27 columns]

In [0]:
states_median_income.index

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia',
       'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virgin Islands', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'],
      dtype='object', name='STATE')

In [0]:
states_median_income.values

array([40590, 56300, 43340, 38875, 53240, 47630, 53805, 44810, 61675,
       41040, 42720, 31410, 51390, 41030, 49765, 41065, 43010, 43155,
       42695, 40880, 44970, 49280, 53760, 44255, 49395, 37840, 44010,
       42390, 42830, 48050, 45480, 53400, 42530, 53585, 43080, 46590,
       44030, 39865, 48450, 46470, 25460, 48690, 40840, 39380, 41540,
       44430, 43770, 43090, 34240, 45555, 53250, 41025, 45235, 47030])

In [0]:
income_dict = dict()
for i in range(len(states_median_income.index)):
  income_dict[states_median_income.index[i]] = states_median_income.values[i]

In [51]:
income_dict

{'Alabama': 40590,
 'Alaska': 56300,
 'Arizona': 43340,
 'Arkansas': 38875,
 'California': 53240,
 'Colorado': 47630,
 'Connecticut': 53805,
 'Delaware': 44810,
 'District of Columbia': 61675,
 'Florida': 41040,
 'Georgia': 42720,
 'Guam': 31410,
 'Hawaii': 51390,
 'Idaho': 41030,
 'Illinois': 49765,
 'Indiana': 41065,
 'Iowa': 43010,
 'Kansas': 43155,
 'Kentucky': 42695,
 'Louisiana': 40880,
 'Maine': 44970,
 'Maryland': 49280,
 'Massachusetts': 53760,
 'Michigan': 44255,
 'Minnesota': 49395,
 'Mississippi': 37840,
 'Missouri': 44010,
 'Montana': 42390,
 'Nebraska': 42830,
 'Nevada': 48050,
 'New Hampshire': 45480,
 'New Jersey': 53400,
 'New Mexico': 42530,
 'New York': 53585,
 'North Carolina': 43080,
 'North Dakota': 46590,
 'Ohio': 44030,
 'Oklahoma': 39865,
 'Oregon': 48450,
 'Pennsylvania': 46470,
 'Puerto Rico': 25460,
 'Rhode Island': 48690,
 'South Carolina': 40840,
 'South Dakota': 39380,
 'Tennessee': 41540,
 'Texas': 44430,
 'Utah': 43770,
 'Vermont': 43090,
 'Virgin Islands': 34240,
 'Virginia': 45555,
 'Washington': 53250,
 'West Virginia': 41025,
 'Wisconsin': 45235,
 'Wyoming': 47030}

In [0]:
countyrent['state_median'] = countyrent.groupby('STATE')['A_MEDIAN'].agg('median')

In [0]:
countyrent['state_median_2']= countyrent.apply(lambda x : income_dict[x['STATE']] if x['STATE'] in income_dict else 0,axis=1)

In [0]:
countyrent

       Unnamed: 0  AREA  ST  ... test state_median state_median_2
0               0     1  AL  ...  NaN          NaN          40590
1               1     1  AL  ...  NaN          NaN          40590
2               2     1  AL  ...  NaN          NaN          40590
3               3     1  AL  ...  NaN          NaN          40590
4               4     1  AL  ...  NaN          NaN          40590
...           ...   ...  ..  ...  ...          ...            ...
36892       36892    78  VI  ...  NaN          NaN          34240
36893       36893    78  VI  ...  NaN          NaN          34240
36894       36894    78  VI  ...  NaN          NaN          34240
36895       36895    78  VI  ...  NaN          NaN          34240
36896       36896    78  VI  ...  NaN          NaN          34240

[36897 rows x 29 columns]

In [0]:
countyrent['wage_premium']= countyrent['A_MEDIAN'] / countyrent['state_median_2']

In [0]:
countyrent[countyrent['OCC_TITLE'] == 'Budget Analysts'].sort_values(by='wage_premium',ascending=False)

       Unnamed: 0  AREA  ST  ... state_median state_median_2 wage_premium
52             52     1  AL  ...          NaN          40590     1.993348
32451       32451    51  VA  ...          NaN          45555     1.969268
13972       13972    24  MD  ...          NaN          49280     1.820414
15483       15483    26  MI  ...          NaN          44255     1.779460
35909       35909    66  GU  ...          NaN          31410     1.772047
25475       25475    40  OK  ...          NaN          39865     1.761445
21863       21863    35  NM  ...          NaN          42530     1.732894
31186       31186    49  UT  ...          NaN          43770     1.704592
6121         6121    12  FL  ...          NaN          41040     1.703460
10469       10469    19  IA  ...          NaN          43010     1.686817
3603         3603     8  CO  ...          NaN          47630     1.671845
9698         9698    18  IN  ...          NaN          41065     1.659564
27758       27758    44  RI  ...          NaN          48690     1.649620
28329       28329    45  SC  ...          NaN          40840     1.648874
30378       30378    48  TX  ...          NaN          44430     1.646860
24684       24684    39  OH  ...          NaN          44030     1.644561
29608       29608    47  TN  ...          NaN          41540     1.642754
31893       31893    50  VT  ...          NaN          43090     1.636110
20447       20447    33  NH  ...          NaN          45480     1.636104
2790         2790     6  CA  ...          NaN          53240     1.629038
5592         5592    11  DC  ...          NaN          61675     1.624807
36181       36181    72  PR  ...          NaN          25460     1.621367
17008       17008    28  MS  ...          NaN          37840     1.620772
23315       23315    37  NC  ...          NaN          43080     1.618849
6916         6916    13  GA  ...          NaN          42720     1.588249
1350         1350     4  AZ  ...          NaN          43340     1.577988
13342       13342    23  ME  ...          NaN          44970     1.573716
5047         5047    10  DE  ...          NaN          44810     1.573086
34635       34635    55  WI  ...          NaN          45235     1.561844
33967       33967    54  WV  ...          NaN          41025     1.553443
7670         7670    15  HI  ...          NaN          51390     1.549134
14730       14730    25  MA  ...          NaN          53760     1.548363
12617       12617    22  LA  ...          NaN          40880     1.547701
16260       16260    27  MN  ...          NaN          49395     1.546715
8266         8266    16  ID  ...          NaN          41030     1.529125
26208       26208    41  OR  ...          NaN          48450     1.528586
4358         4358     9  CT  ...          NaN          53805     1.521234
29033       29033    46  SD  ...          NaN          39380     1.520061
26966       26966    42  PA  ...          NaN          46470     1.519475
36746       36746    78  VI  ...          NaN          34240     1.514311
11185       11185    20  KS  ...          NaN          43155     1.514309
21103       21103    34  NJ  ...          NaN          53400     1.511985
8914         8914    17  IL  ...          NaN          49765     1.463277
17693       17693    29  MO  ...          NaN          44010     1.451261
24068       24068    38  ND  ...          NaN          46590     1.445160
18450       18450    30  MT  ...          NaN          42390     1.438783
35376       35376    56  WY  ...          NaN          47030     1.422709
22521       22521    36  NY  ...          NaN          53585     1.404498
19767       19767    32  NV  ...          NaN          48050     1.401249
33205       33205    53  WA  ...          NaN          53250     1.371268
788           788     2  AK  ...          NaN          56300     1.369982
19089       19089    31  NE  ...          NaN          42830     1.259164
11887       11887    21  KY  ...          NaN          42695     1.242534
2098         2098     5  AR  ...          NaN          38875     1.221350

[54 rows x 30 columns]

In [0]:
The state with the least amount of wage premium for budget analyst compared to the average is Arkansas and Alabama is the best

SyntaxError: ignored

In [0]:
countyrent['rank'] = countyrent.groupby("OCC_TITLE")["wage_premium"].rank("dense", ascending=False)
#this groups per job then gets the wage premium column and ranks each group descending

ERROR! Session/line number was not unique in database. History logging moved to new session 60

In [0]:
countyrent[countyrent['STATE']== 'Minnesota'][['OCC_TITLE','rank']].sort_values(by='rank',ascending=True)[:30]

                                               OCC_TITLE  rank
16864            Tailors, Dressmakers, and Custom Sewers   1.0
16744                       Plasterers and Stucco Masons   1.0
16545                                  Psychiatric Aides   1.0
16547                                          Orderlies   1.0
16295                               Biomedical Engineers   1.0
16468  Entertainers and Performers, Sports and Relate...   1.0
16467                              Musicians and Singers   1.0
16464                                            Dancers   1.0
16459                                             Actors   1.0
16499                                           Surgeons   1.0
16603               Building Cleaning Workers, All Other   2.0
16466                      Music Directors and Composers   2.0
16945                          Hoist and Winch Operators   2.0
16735                Drywall and Ceiling Tile Installers   2.0
16529                             Surgical Technologists   2.0
16929       Railroad Brake, Signal, and Switch Operators   2.0
16671           Credit Authorizers, Checkers, and Clerks   3.0
16752  Helpers--Painters, Paperhangers, Plasterers, a...   3.0
16531                     Ophthalmic Medical Technicians   3.0
16577                                    Crossing Guards   3.0
16378           Arbitrators, Mediators, and Conciliators   3.0
16731                              Construction Laborers   3.0
16749  Helpers--Brickmasons, Blockmasons, Stonemasons...   3.0
16687            Police, Fire, and Ambulance Dispatchers   3.0
16551                           Physical Therapist Aides   3.0
16553                                  Dental Assistants   3.0
16480                                    Radio Operators   3.0
16223  Farmers, Ranchers, and Other Agricultural Mana...   3.0
16555                        Medical Equipment Preparers   4.0
16747                                Sheet Metal Workers   4.0

In [0]:
#in minnesota the jobs with the most wage premium relative to all other states meaning that if all the dentists from all the states were
#compared from their salary to the average in each state which state pays the relative most amount to dentists? Minnesota has the
#highest relative pay for medical types of fields. The medical field must pay a good amount in minnesota economy more than other states

In [0]:
#state with highest median pay overall
countyrent.groupby(by='STATE')['state_median_2'].agg('min').sort_values(ascending=False)
#minnesota is 11th

STATE
District of Columbia    61675
Alaska                  56300
Connecticut             53805
Massachusetts           53760
New York                53585
New Jersey              53400
Washington              53250
California              53240
Hawaii                  51390
Illinois                49765
Minnesota               49395
Maryland                49280
Rhode Island            48690
Oregon                  48450
Nevada                  48050
Colorado                47630
Wyoming                 47030
North Dakota            46590
Pennsylvania            46470
Virginia                45555
New Hampshire           45480
Wisconsin               45235
Maine                   44970
Delaware                44810
Texas                   44430
Michigan                44255
Ohio                    44030
Missouri                44010
Utah                    43770
Arizona                 43340
Kansas                  43155
Vermont                 43090
North Carolina          43080
Iowa                    43010
Nebraska                42830
Georgia                 42720
Kentucky                42695
New Mexico              42530
Montana                 42390
Tennessee               41540
Indiana                 41065
Florida                 41040
Idaho                   41030
West Virginia           41025
Louisiana               40880
South Carolina          40840
Alabama                 40590
Oklahoma                39865
South Dakota            39380
Arkansas                38875
Mississippi             37840
Virgin Islands          34240
Guam                    31410
Puerto Rico             25460
Name: state_median_2, dtype: int64

In [0]:
#which states have the most #1 wage premium jobs- largest positive difference between average and their salary
countyrent[countyrent['rank']==1][['STATE','OCC_TITLE']]['STATE'].value_counts()
#pandas counts al the 0's in the ranking for the median somehow so there were more relatively high paying jobs but probably because
#there was not data

Puerto Rico             103
Guam                     39
Virgin Islands           35
Virginia                 33
New Mexico               32
California               30
Mississippi              29
Hawaii                   28
South Dakota             27
Delaware                 26
Alabama                  26
Illinois                 25
District of Columbia     24
Louisiana                24
Oklahoma                 22
Georgia                  20
New York                 19
Indiana                  19
South Carolina           17
Oregon                   17
Vermont                  17
Missouri                 17
Wyoming                  17
Florida                  16
Nevada                   16
Kentucky                 16
Texas                    16
Maryland                 16
Alaska                   15
Iowa                     15
Idaho                    15
Tennessee                14
West Virginia            13
North Dakota             13
New Jersey               13
Rhode Island             12
Arizona                  12
Washington               12
Pennsylvania             11
North Carolina           11
Arkansas                 11
Montana                  11
Wisconsin                11
Ohio                     10
New Hampshire            10
Minnesota                10
Nebraska                 10
Colorado                  9
Connecticut               9
Massachusetts             8
Michigan                  7
Kansas                    7
Utah                      7
Maine                     7
Name: STATE, dtype: int64

In [0]:
countyrent[countyrent['STATE'] == 'Puerto Rico']

       Unnamed: 0  AREA  ST  ... state_median_2 wage_premium  rank
36133       36133    72  PR  ...          25460     0.818146  44.0
36134       36134    72  PR  ...          25460     2.409269   8.0
36135       36135    72  PR  ...          25460     3.791438  11.0
36136       36136    72  PR  ...          25460     2.604478   6.0
36137       36137    72  PR  ...          25460     3.246269   1.0
...           ...   ...  ..  ...            ...          ...   ...
36715       36715    72  PR  ...          25460     0.715240   1.0
36716       36716    72  PR  ...          25460     0.858602  24.0
36717       36717    72  PR  ...          25460     1.123723   7.0
36718       36718    72  PR  ...          25460     0.727808  36.0
36719       36719    72  PR  ...          25460     0.753339  19.0

[587 rows x 31 columns]

In [0]:
countyrent[countyrent['STATE'] == 'Puerto Rico']['STATE']

36133    Puerto Rico
36134    Puerto Rico
36135    Puerto Rico
36136    Puerto Rico
36137    Puerto Rico
            ...
36715    Puerto Rico
36716    Puerto Rico
36717    Puerto Rico
36718    Puerto Rico
36719    Puerto Rico
Name: STATE, Length: 587, dtype: object

In [0]:
countyrent[(countyrent['STATE'] == 'Puerto Rico') & (countyrent['A_MEDIAN'] < 1) ]['A_MEDIAN'].count()

12

In [0]:
countyrent[(countyrent['STATE'] == 'Puerto Rico') & (countyrent['A_MEDIAN'] > 1) ]['A_MEDIAN'].count()

575

In [0]:
countyrent[(countyrent['STATE'] == 'Puerto Rico') & (countyrent['A_MEDIAN'] < 1) ]

       Unnamed: 0  AREA  ST  ... state_median_2 wage_premium  rank
36222       36222    72  PR  ...          25460          0.0  50.0
36234       36234    72  PR  ...          25460          0.0  30.0
36239       36239    72  PR  ...          25460          0.0  48.0
36249       36249    72  PR  ...          25460          0.0  44.0
36283       36283    72  PR  ...          25460          0.0  24.0
36330       36330    72  PR  ...          25460          0.0  49.0
36336       36336    72  PR  ...          25460          0.0   1.0
36339       36339    72  PR  ...          25460          0.0   1.0
36524       36524    72  PR  ...          25460          0.0  51.0
36634       36634    72  PR  ...          25460          0.0  43.0
36651       36651    72  PR  ...          25460          0.0  43.0
36706       36706    72  PR  ...          25460          0.0  47.0

[12 rows x 31 columns]

In [0]:
#top paying jobs puerto rico
countyrent[countyrent['STATE'] == 'Puerto Rico'][['STATE','A_MEDIAN','OCC_TITLE','wage_premium','rank']].sort_values(by='A_MEDIAN',ascending=False)[:20]

             STATE  A_MEDIAN  ... wage_premium  rank
36298  Puerto Rico    111440  ...     4.377062   1.0
36367  Puerto Rico    109490  ...     4.300471   7.0
36144  Puerto Rico    106530  ...     4.184211   1.0
36154  Puerto Rico    103710  ...     4.073449   1.0
36690  Puerto Rico     98770  ...     3.879419   1.0
36155  Puerto Rico     97170  ...     3.816575   2.0
36135  Puerto Rico     96530  ...     3.791438  11.0
36361  Puerto Rico     92450  ...     3.631186   2.0
36246  Puerto Rico     92360  ...     3.627651   1.0
36274  Puerto Rico     91120  ...     3.578947   4.0
36287  Puerto Rico     90480  ...     3.553810   1.0
36137  Puerto Rico     82650  ...     3.246269   1.0
36139  Puerto Rico     82260  ...     3.230951   4.0
36160  Puerto Rico     82230  ...     3.229772   1.0
36288  Puerto Rico     81900  ...     3.216811   1.0
36375  Puerto Rico     78460  ...     3.081697   1.0
36147  Puerto Rico     78060  ...     3.065986   3.0
36401  Puerto Rico     77260  ...     3.034564   1.0
36206  Puerto Rico     76860  ...     3.018853   1.0
36365  Puerto Rico     76580  ...     3.007855  37.0

[20 rows x 5 columns]

In [0]:
#apparently puerto rico just has a lot of people who make very little compared to the most important higher earning jobs.
#that is why they have the most highest ranked job premiums per the median.

In [0]:
f = pd.DataFrame(({'a':[0,0,1,1], 'b':[0,1,0,1]}))

In [0]:
f

   a  b
0  0  0
1  0  1
2  1  0
3  1  1

In [0]:
f.T

   0  1  2  3
a  0  0  1  1
b  0  1  0  1

In [0]:
f[(f != 0).any(axis=1)]

   a  b
1  0  1
2  1  0
3  1  1

In [0]:
f[f>0]

     a    b
0  NaN  NaN
1  NaN  1.0
2  1.0  NaN
3  1.0  1.0

In [0]:
#the best states for analysts
wage_premium_analysts = countyrent[countyrent['OCC_TITLE'].str.contains('Analysts')].groupby('STATE')['wage_premium'].agg('sum').sort_values(ascending=False)

In [56]:
#the best states based on having the highest median earnings. The more earnings in general that I can make the better
#this way if I save 10% for retirement then it is better because then I can have a lot relative to other states in case I move there
wage_premium_analysts = pd.DataFrame(wage_premium_analysts)
#wage_premium_analysts['earnings'] = countyrent['state_median_2']
wage_premium_analysts

                      wage_premium
STATE
Alabama                  17.414634
North Carolina           16.647864
Virginia                 16.104489
Texas                    16.078551
Florida                  15.638645
Maryland                 15.596591
New York                 15.549128
Colorado                 15.510393
Arizona                  15.222658
Ohio                     15.064956
California               14.671112
Missouri                 14.667348
Idaho                    14.661955
New Jersey               14.651311
New Hampshire            14.610378
District of Columbia     14.587272
Washington               14.582723
South Carolina           14.481391
Arkansas                 14.450932
Indiana                  14.406916
Delaware                 14.396117
Puerto Rico              14.336999
New Mexico               14.234423
Tennessee                14.221955
Mississippi              14.202431
Utah                     14.166781
Wisconsin                14.043992
Michigan                 13.943057
Illinois                 13.914197
Pennsylvania             13.820960
Georgia                  13.796114
Rhode Island             13.773670
Iowa                     13.524529
Louisiana                13.506115
Vermont                  13.455094
Nevada                   13.386889
Kentucky                 13.345825
Oklahoma                 13.295874
Minnesota                13.191416
Kansas                   13.099988
Oregon                   13.085655
Connecticut              12.930583
North Dakota             12.890534
Massachusetts            12.721726
Maine                    12.708917
West Virginia            12.594516
Montana                  12.476999
Hawaii                   12.459039
Nebraska                 12.296288
South Dakota             12.011935
Wyoming                  10.119923
Alaska                    9.785435
Virgin Islands            7.087033
Guam                      6.700096

In [0]:
wage_premium_analysts['earnings'] = unique

In [0]:
wage_premium_analysts.sort_index(inplace=True)

In [0]:
unique = countyrent.groupby('STATE')['state_median_2'].agg('min')

In [0]:
wage_premium_analysts['overall'] = wage_premium_analysts['wage_premium'] * wage_premium_analysts['earnings']

In [0]:
wage_premium_analysts['overall'].sort_values(ascending=False)

the best place for analysts overall is washington dc because they have both a high amount of income and a high amount of premium for analysys meaning that analysts make a lot relative to everywhere and relative to washington dc.

In [0]:
#the highest ratio between the median and the 10thpercentile since I am starting out I want to find states where the entry level
#analysts get paid the most relative to the median

In [0]:
countyrent.groupby('STATE')[['A_PCT25','A_MEDIAN','OCC_TITLE','wage_premium','rank']].agg('mean').sort_values(by='A_MEDIAN',ascending=False)

                           A_PCT25      A_MEDIAN  wage_premium       rank
STATE
District of Columbia  53402.662835  67187.816092      1.089385  30.532567
California            47381.803681  61193.472393      1.149389  24.782822
New York              46598.040201  59392.487437      1.108379  27.368090
Massachusetts         47253.014608  58716.387782      1.092195  26.718459
Alaska                47926.075269  58370.663082      1.036779  30.897849
Connecticut           46842.925072  58052.002882      1.078933  29.069164
Maryland              45319.828496  58022.203166      1.177399  23.596306
Washington            47902.133508  57925.405759      1.087801  26.365183
New Jersey            46327.493438  57849.842520      1.083330  27.653543
Rhode Island          45644.348592  55163.573944      1.132955  22.468310
Hawaii                44015.430017  55150.370995      1.073173  28.284992
Illinois              42550.447570  55049.079284      1.106181  29.801790
Colorado              43799.894180  54679.325397      1.148002  22.526455
Minnesota             44875.080000  54469.933333      1.102742  24.457333
Oregon                44091.624835  54214.187583      1.118972  24.922061
New Hampshire         43616.380368  52740.245399      1.159636  19.743865
Pennsylvania          42348.316583  52737.324121      1.134868  24.820352
Virginia              41217.082228  52449.986737      1.151355  21.610080
Delaware              42359.232176  52106.819013      1.162839  19.881170
Texas                 40233.600493  51938.705302      1.169001  22.890259
Nevada                42275.380117  51925.657895      1.080659  27.877193
Wyoming               41901.926606  51040.128440      1.085267  29.093578
North Dakota          41197.692308  50904.042553      1.092596  25.808511
Wisconsin             41297.072193  50730.828877      1.121495  25.181818
Michigan              39696.533505  50441.030928      1.139782  22.007732
North Carolina        40150.396825  50362.420635      1.169044  22.985450
Ohio                  39811.668774  50198.280657      1.140093  22.788875
Arizona               39957.226667  49832.520000      1.149804  20.746667
Vermont               40918.529946  49763.303085      1.154869  18.254083
Missouri              39173.738562  49683.163399      1.128906  25.695425
Georgia               39482.721268  49625.693527      1.161650  22.597094
Maine                 40706.022364  49584.408946      1.102611  28.354633
New Mexico            39791.282443  49511.480916      1.164154  24.835115
Kansas                38718.593750  49281.960227      1.141976  26.255682
Utah                  39326.132208  48936.343179      1.118034  25.825598
Florida               38240.967337  48807.148241      1.189258  18.611809
Iowa                  40438.744770  48670.543933      1.131610  21.648536
Alabama               38144.756098  48224.769648      1.188095  21.379404
Tennessee             37340.571429  47509.922078      1.143715  23.192208
Kentucky              37844.586777  47394.641873      1.110075  27.163912
South Carolina        38077.868163  47138.485273      1.154223  21.791024
Nebraska              39058.757396  47130.784024      1.100415  23.640533
Idaho                 37933.462133  46852.210201      1.141901  23.165379
Montana               38433.044164  46841.372240      1.105010  25.376972
Louisiana             36643.178082  46578.000000      1.139384  24.273973
South Dakota          39369.310954  46529.010601      1.181539  19.869258
Indiana               37571.126943  46474.598446      1.131733  20.005181
West Virginia         36274.369369  46238.558559      1.127082  27.298799
Oklahoma              36099.318801  45675.885559      1.145764  21.613079
Arkansas              35629.389535  44897.645349      1.154923  23.068314
Mississippi           35461.127379  43878.052709      1.159568  20.931186
Virgin Islands        32126.779661  39845.141243      1.163702  14.039548
Guam                  29832.162162  37087.606178      1.180758  18.073359
Puerto Rico           24986.320273  31614.667802      1.241739  20.269165

In [0]:
data = countyrent.groupby('STATE')[['A_PCT10','A_PCT25','A_MEDIAN','OCC_TITLE','wage_premium','rank']].agg('mean').sort_values(by='A_MEDIAN',ascending=False)

In [0]:
data['ratiopercentiles2550'] = data['A_PCT25'] / data['A_MEDIAN']

In [0]:
data.sort_values(by='ratiopercentiles2550',ascending=False)

                           A_PCT10  ...  ratiopercentiles2550
STATE                               ...
South Dakota          34799.699647  ...              0.846124
Iowa                  32901.868898  ...              0.830867
Nebraska              32865.946746  ...              0.828731
Rhode Island          37432.218310  ...              0.827436
New Hampshire         36340.000000  ...              0.827004
Washington            39159.267016  ...              0.826962
Minnesota             36771.320000  ...              0.823850
Vermont               34865.281307  ...              0.822263
Alaska                39485.788530  ...              0.821064
Wyoming               35085.724771  ...              0.820960
Maine                 34512.124601  ...              0.820944
Montana               31482.886435  ...              0.820494
Nevada                34349.342105  ...              0.814152
Wisconsin             33969.558824  ...              0.814043
Oregon                36270.198151  ...              0.813286
Delaware              36324.588665  ...              0.812931
Idaho                 30388.222566  ...              0.809641
North Dakota          34487.561375  ...              0.809321
Indiana               30930.012953  ...              0.808423
Mississippi           28839.194729  ...              0.808175
South Carolina        31005.343619  ...              0.807787
Connecticut           38248.804035  ...              0.806913
Virgin Islands        26795.480226  ...              0.806291
Massachusetts         38569.150066  ...              0.804767
Guam                  25469.073359  ...              0.804370
New Mexico            33043.847328  ...              0.803678
Utah                  31180.801688  ...              0.803618
Pennsylvania          33852.324121  ...              0.803005
Arizona               32702.373333  ...              0.801830
Colorado              35771.362434  ...              0.801032
New Jersey            37759.278215  ...              0.800823
Kentucky              31154.696970  ...              0.798499
Hawaii                36120.539629  ...              0.798099
North Carolina        33388.214286  ...              0.797229
Georgia               31997.754293  ...              0.795610
District of Columbia  43359.233716  ...              0.794827
Arkansas              29218.880814  ...              0.793569
Ohio                  32043.021492  ...              0.793088
Alabama               31054.566396  ...              0.790979
Puerto Rico           20795.195911  ...              0.790339
Oklahoma              29563.978202  ...              0.790336
Missouri              31222.967320  ...              0.788471
Michigan              31774.987113  ...              0.786989
Louisiana             29627.643836  ...              0.786706
Tennessee             30035.727273  ...              0.785953
Virginia              33061.830239  ...              0.785836
Kansas                31398.110795  ...              0.785654
New York              36852.675879  ...              0.784578
West Virginia         29842.627628  ...              0.784505
Florida               30581.984925  ...              0.783512
Maryland              36152.255937  ...              0.781077
Texas                 31073.995068  ...              0.774636
California            37465.705521  ...              0.774295
Illinois              33406.342711  ...              0.772955

[54 rows x 6 columns]

In [0]:
#wage premium for the jobs multiplied by the ratio of 25th percentile to 50th percentile
data['overall'] = data['wage_premium'] * data['ratiopercentiles2550']
data.sort_values(by='overall',ascending=False)

                           A_PCT10  ...   overall
STATE                               ...
South Dakota          34799.699647  ...  0.999729
Puerto Rico           20795.195911  ...  0.981395
New Hampshire         36340.000000  ...  0.959023
Guam                  25469.073359  ...  0.949766
Vermont               34865.281307  ...  0.949606
Delaware              36324.588665  ...  0.945308
Iowa                  32901.868898  ...  0.940217
Alabama               31054.566396  ...  0.939757
Virgin Islands        26795.480226  ...  0.938282
Rhode Island          37432.218310  ...  0.937448
Mississippi           28839.194729  ...  0.937133
New Mexico            33043.847328  ...  0.935605
South Carolina        31005.343619  ...  0.932367
North Carolina        33388.214286  ...  0.931996
Florida               30581.984925  ...  0.931797
Idaho                 30388.222566  ...  0.924530
Georgia               31997.754293  ...  0.924221
Arizona               32702.373333  ...  0.921948
Maryland              36152.255937  ...  0.919639
Colorado              35771.362434  ...  0.919586
Arkansas              29218.880814  ...  0.916512
Indiana               30930.012953  ...  0.914918
Wisconsin             33969.558824  ...  0.912945
Nebraska              32865.946746  ...  0.911949
Pennsylvania          33852.324121  ...  0.911304
Oregon                36270.198151  ...  0.910044
Minnesota             36771.320000  ...  0.908494
Montana               31482.886435  ...  0.906654
Texas                 31073.995068  ...  0.905550
Oklahoma              29563.978202  ...  0.905539
Maine                 34512.124601  ...  0.905182
Virginia              33061.830239  ...  0.904776
Ohio                  32043.021492  ...  0.904194
Washington            39159.267016  ...  0.899571
Tennessee             30035.727273  ...  0.898906
Utah                  31180.801688  ...  0.898472
Kansas                31398.110795  ...  0.897198
Michigan              31774.987113  ...  0.896995
Louisiana             29627.643836  ...  0.896360
Wyoming               35085.724771  ...  0.890962
Missouri              31222.967320  ...  0.890110
California            37465.705521  ...  0.889966
Kentucky              31154.696970  ...  0.886394
North Dakota          34487.561375  ...  0.884260
West Virginia         29842.627628  ...  0.884202
Nevada                34349.342105  ...  0.879821
Massachusetts         38569.150066  ...  0.878962
Connecticut           38248.804035  ...  0.870605
New York              36852.675879  ...  0.869610
New Jersey            37759.278215  ...  0.867556
District of Columbia  43359.233716  ...  0.865872
Hawaii                36120.539629  ...  0.856498
Illinois              33406.342711  ...  0.855028
Alaska                39485.788530  ...  0.851262

[54 rows x 7 columns]

In [0]:
data['ratiopercentiles1025'] = data['A_PCT10'] / data['A_MEDIAN']

In [0]:
data['overall_2'] = data['wage_premium'] * data['ratiopercentiles1025']
data.sort_values(by='overall_2',ascending=False)

                           A_PCT10  ...  overall_2
STATE                               ...
South Dakota          34799.699647  ...   0.883690
Puerto Rico           20795.195911  ...   0.816779
Guam                  25469.073359  ...   0.810859
Delaware              36324.588665  ...   0.810636
Vermont               34865.281307  ...   0.809127
New Hampshire         36340.000000  ...   0.799033
Virgin Islands        26795.480226  ...   0.782578
New Mexico            33043.847328  ...   0.776954
North Carolina        33388.214286  ...   0.775028
Rhode Island          37432.218310  ...   0.768787
Maine                 34512.124601  ...   0.767448
Nebraska              32865.946746  ...   0.767358
Alabama               31054.566396  ...   0.765079
Iowa                  32901.868898  ...   0.764982
Mississippi           28839.194729  ...   0.762135
South Carolina        31005.343619  ...   0.759191
Arizona               32702.373333  ...   0.754554
Indiana               30930.012953  ...   0.753196
Arkansas              29218.880814  ...   0.751611
Colorado              35771.362434  ...   0.751026
Wisconsin             33969.558824  ...   0.750957
Georgia               31997.754293  ...   0.749011
Oregon                36270.198151  ...   0.748611
Wyoming               35085.724771  ...   0.746029
Florida               30581.984925  ...   0.745175
Minnesota             36771.320000  ...   0.744434
Montana               31482.886435  ...   0.742696
Oklahoma              29563.978202  ...   0.741602
Idaho                 30388.222566  ...   0.740634
North Dakota          34487.561375  ...   0.740235
Washington            39159.267016  ...   0.735385
Maryland              36152.255937  ...   0.733609
Kentucky              31154.696970  ...   0.729704
Pennsylvania          33852.324121  ...   0.728477
Ohio                  32043.021492  ...   0.727754
Kansas                31398.110795  ...   0.727566
West Virginia         29842.627628  ...   0.727425
Virginia              33061.830239  ...   0.725756
Louisiana             29627.643836  ...   0.724747
Tennessee             30035.727273  ...   0.723056
Michigan              31774.987113  ...   0.717998
Massachusetts         38569.150066  ...   0.717432
Nevada                34349.342105  ...   0.714867
Utah                  31180.801688  ...   0.712378
Connecticut           38248.804035  ...   0.710878
Missouri              31222.967320  ...   0.709452
New Jersey            37759.278215  ...   0.707103
California            37465.705521  ...   0.703713
District of Columbia  43359.233716  ...   0.703028
Hawaii                36120.539629  ...   0.702871
Alaska                39485.788530  ...   0.701346
Texas                 31073.995068  ...   0.699392
New York              36852.675879  ...   0.687742
Illinois              33406.342711  ...   0.671282

[54 rows x 9 columns]

In [0]:
#south dakota has a good wage premium and the best overall wage premium for analysts relative to the others
#and the difference between entry level and median analysts is small in south dakota

In [0]:
#the most wage premium states at the 10th percentile analysts
countyrent.groupby(by='STATE')[['A_PCT10','A_PCT25']].agg('median').sort_values(by='A_PCT10',ascending=False)

                      A_PCT10  A_PCT25
STATE
District of Columbia    38530    47715
Alaska                  35050    43035
Washington              34135    42460
Massachusetts           33780    41670
Connecticut             33325    41575
Minnesota               33235    40180
New Jersey              32840    41790
Hawaii                  32540    39990
Rhode Island            32345    38985
North Dakota            32230    38040
New York                32150    41245
Wyoming                 32070    37990
Delaware                31850    36090
Oregon                  31790    38010
California              31550    39490
Maryland                31375    38750
New Hampshire           30985    36635
Colorado                30960    37695
Maine                   30835    36165
Vermont                 30720    35490
Nevada                  30645    37400
Pennsylvania            29930    36760
Wisconsin               29840    36015
Illinois                29375    37580
South Dakota            29215    33795
Virginia                28905    35655
Iowa                    28400    34420
North Carolina          28250    34330
Nebraska                27880    33595
Ohio                    27800    34730
Arizona                 27640    34420
Michigan                27585    34520
Utah                    27580    34280
Indiana                 27445    33100
New Mexico              27420    34260
Kentucky                27285    33735
Missouri                27150    34030
Georgia                 27080    33670
Kansas                  27015    33770
Montana                 27010    33630
South Carolina          26830    32730
Texas                   26650    34060
Florida                 26580    32490
Alabama                 26575    32685
Tennessee               26470    33240
Idaho                   26450    32870
Oklahoma                26430    31835
Louisiana               26055    32315
West Virginia           25730    31680
Arkansas                25590    31300
Mississippi             24310    30070
Virgin Islands          22850    27130
Guam                    20940    25180
Puerto Rico             17150    19490

In [0]:
countyrent.groupby(by='STATE')[['A_PCT10','A_PCT25']].agg('median').sort_values(by='A_PCT25',ascending=False)

                      A_PCT10  A_PCT25
STATE
District of Columbia    38530    47715
Alaska                  35050    43035
Washington              34135    42460
New Jersey              32840    41790
Massachusetts           33780    41670
Connecticut             33325    41575
New York                32150    41245
Minnesota               33235    40180
Hawaii                  32540    39990
California              31550    39490
Rhode Island            32345    38985
Maryland                31375    38750
North Dakota            32230    38040
Oregon                  31790    38010
Wyoming                 32070    37990
Colorado                30960    37695
Illinois                29375    37580
Nevada                  30645    37400
Pennsylvania            29930    36760
New Hampshire           30985    36635
Maine                   30835    36165
Delaware                31850    36090
Wisconsin               29840    36015
Virginia                28905    35655
Vermont                 30720    35490
Ohio                    27800    34730
Michigan                27585    34520
Iowa                    28400    34420
Arizona                 27640    34420
North Carolina          28250    34330
Utah                    27580    34280
New Mexico              27420    34260
Texas                   26650    34060
Missouri                27150    34030
South Dakota            29215    33795
Kansas                  27015    33770
Kentucky                27285    33735
Georgia                 27080    33670
Montana                 27010    33630
Nebraska                27880    33595
Tennessee               26470    33240
Indiana                 27445    33100
Idaho                   26450    32870
South Carolina          26830    32730
Alabama                 26575    32685
Florida                 26580    32490
Louisiana               26055    32315
Oklahoma                26430    31835
West Virginia           25730    31680
Arkansas                25590    31300
Mississippi             24310    30070
Virgin Islands          22850    27130
Guam                    20940    25180
Puerto Rico             17150    19490

In [0]:
wageprem10th =countyrent.groupby(by='STATE')['A_PCT10'].agg('median').sort_values(ascending=False)
#countyrent['state_median_2']= countyrent.apply(lambda x : income_dict[x['STATE']] if x['STATE'] in income_dict else 0,axis=1)

In [0]:
state10th = dict()

In [0]:
wageprem10th.values

array([38530, 35050, 34135, 33780, 33325, 33235, 32840, 32540, 32345,
       32230, 32150, 32070, 31850, 31790, 31550, 31375, 30985, 30960,
       30835, 30720, 30645, 29930, 29840, 29375, 29215, 28905, 28400,
       28250, 27880, 27800, 27640, 27585, 27580, 27445, 27420, 27285,
       27150, 27080, 27015, 27010, 26830, 26650, 26580, 26575, 26470,
       26450, 26430, 26055, 25730, 25590, 24310, 22850, 20940, 17150])

In [0]:
for i in range(len(wageprem10th.index)):
  state10th[wageprem10th.index[i]] = wageprem10th.values[i]

In [0]:
countyrent['stateprem10th']= countyrent.apply(lambda x : wageprem10th[x['STATE']] if x['STATE'] in state10th else 0,axis=1)

In [0]:
countyrent['wage_prem_10th'] = countyrent['A_PCT10'] / countyrent['stateprem10th']

In [0]:
countyrent.groupby('STATE')[['wage_prem_10th','STATE']].sort_values(by='wage_prem_10th',ascending=False)

AttributeError: ignored

In [0]:
countyrent[countyrent['OCC_TITLE'].str.contains('Analysts')].groupby('STATE')['wage_prem_10th'].agg('sum').sort_values(ascending=False)

STATE
Texas                   16.009381
North Carolina          15.355398
Alabama                 15.023518
Virginia                14.906764
New York                14.446656
Ohio                    14.402518
California              14.392076
Colorado                14.289406
Maryland                14.245100
Missouri                14.154328
New Jersey              14.151949
Michigan                14.088091
Illinois                14.082383
Arizona                 14.073082
Florida                 14.054176
District of Columbia    13.954840
New Hampshire           13.893174
Washington              13.759777
New Mexico              13.719912
Nevada                  13.682819
Indiana                 13.488067
Pennsylvania            13.473438
Georgia                 13.356352
Connecticut             13.341335
Rhode Island            13.234812
Louisiana               13.231242
Mississippi             13.091732
Iowa                    13.045070
Kansas                  13.024246
South Carolina          13.013418
Wisconsin               12.984249
Tennessee               12.969022
Idaho                   12.945936
Delaware                12.912716
Massachusetts           12.833629
Vermont                 12.825846
Utah                    12.764322
Montana                 12.710848
Minnesota               12.680006
Oregon                  12.669078
Arkansas                12.601016
Maine                   12.434247
Oklahoma                12.224366
Hawaii                  12.178549
West Virginia           12.153129
Nebraska                12.041607
Kentucky                11.951622
North Dakota            11.436860
South Dakota            11.367106
Puerto Rico             11.202332
Wyoming                 10.127222
Alaska                   9.614551
Virgin Islands           7.836761
Guam                     6.467049
Name: wage_prem_10th, dtype: float64

In [0]:
wageprem25th =countyrent.groupby(by='STATE')['A_PCT25'].agg('median').sort_values(ascending=False)
state25th = dict()
for i in range(len(wageprem25th.index)):
  state25th[wageprem25th.index[i]] = wageprem25th.values[i]
countyrent['stateprem25th']= countyrent.apply(lambda x : wageprem25th[x['STATE']] if x['STATE'] in state25th else 0,axis=1)
countyrent['wage_prem_25th'] = countyrent['A_PCT25'] / countyrent['stateprem25th']
countyrent[countyrent['OCC_TITLE'].str.contains('Analysts')].groupby('STATE')['wage_prem_25th'].agg('sum').sort_values(ascending=False)

STATE
Alabama                 16.077100
North Carolina          15.893096
Texas                   15.810922
Virginia                15.670453
Colorado                14.953973
Maryland                14.952516
California              14.831096
New York                14.675718
Florida                 14.562635
Ohio                    14.562338
District of Columbia    14.324845
New Jersey              14.302225
Missouri                14.250955
Arizona                 14.169088
New Hampshire           14.103180
Michigan                14.022596
Idaho                   14.011561
Illinois                13.960085
Indiana                 13.950453
South Carolina          13.824015
Washington              13.820301
Delaware                13.805209
New Mexico              13.633975
Georgia                 13.547075
Pennsylvania            13.517682
Rhode Island            13.501347
Wisconsin               13.488824
Nevada                  13.451337
Mississippi             13.451280
Connecticut             13.298376
Iowa                    13.280941
Tennessee               13.272262
Vermont                 13.209073
Louisiana               13.199752
Oregon                  13.119968
Utah                    13.102392
Kansas                  12.973941
Puerto Rico             12.907645
Minnesota               12.892982
Arkansas                12.849521
Maine                   12.848334
Massachusetts           12.837773
Kentucky                12.748777
Oklahoma                12.718392
West Virginia           12.500316
Montana                 12.341957
North Dakota            12.189274
Hawaii                  12.106027
Nebraska                12.091383
South Dakota            11.638704
Wyoming                 10.186102
Alaska                   9.612409
Virgin Islands           7.410247
Guam                     6.616759
Name: wage_prem_25th, dtype: float64

In [0]:
wageprem75th =countyrent.groupby(by='STATE')['A_PCT75'].agg('median').sort_values(ascending=False)
state75th = dict()
for i in range(len(wageprem75th.index)):
  state75th[wageprem75th.index[i]] = wageprem75th.values[i]
countyrent['stateprem75th']= countyrent.apply(lambda x : wageprem75th[x['STATE']] if x['STATE'] in state75th else 0,axis=1)
countyrent['wage_prem_75th'] = countyrent['A_PCT75'] / countyrent['stateprem75th']
countyrent[countyrent['OCC_TITLE'].str.contains('Analysts')].groupby('STATE')['wage_prem_75th'].agg('sum').sort_values(ascending=False)

STATE
New York                18.036136
Alabama                 17.851951
North Carolina          17.680468
Texas                   16.920331
Florida                 16.811526
Virginia                16.743481
Colorado                16.387183
California              16.196350
Arizona                 16.082179
New Jersey              15.920975
Washington              15.840988
Arkansas                15.689449
Maryland                15.673555
Ohio                    15.666607
Missouri                15.480014
Tennessee               15.335276
Idaho                   15.297222
South Carolina          15.277395
Delaware                15.165553
New Hampshire           15.080679
Utah                    15.054683
New Mexico              15.001666
Mississippi             14.877157
District of Columbia    14.863105
Indiana                 14.839117
Kentucky                14.595829
Wisconsin               14.463930
Rhode Island            14.293773
Puerto Rico             14.242662
Illinois                14.099013
Pennsylvania            13.949941
Georgia                 13.857143
Michigan                13.810936
Iowa                    13.769332
Louisiana               13.732842
Vermont                 13.732350
Nevada                  13.666282
Minnesota               13.597075
Kansas                  13.545776
Oklahoma                13.509261
Connecticut             13.508869
Massachusetts           13.492075
Maine                   13.380276
Montana                 13.114637
Oregon                  12.940174
Nebraska                12.748415
North Dakota            12.677864
Hawaii                  12.593711
West Virginia           12.560061
South Dakota            12.221148
Alaska                  10.201654
Wyoming                  8.218486
Virgin Islands           7.172082
Guam                     6.395682
Name: wage_prem_75th, dtype: float64

In [0]:
wageprem90th =countyrent.groupby(by='STATE')['A_PCT90'].agg('median').sort_values(ascending=False)
state90th = dict()
for i in range(len(wageprem90th.index)):
  state90th[wageprem90th.index[i]] = wageprem90th.values[i]
countyrent['stateprem90th']= countyrent.apply(lambda x : wageprem90th[x['STATE']] if x['STATE'] in state90th else 0,axis=1)
countyrent['wage_prem_90th'] = countyrent['A_PCT90'] / countyrent['stateprem90th']
countyrent[countyrent['OCC_TITLE'].str.contains('Analysts')].groupby('STATE')['wage_prem_90th'].agg('sum').sort_values(ascending=False)

STATE
North Carolina          20.218920
Texas                   19.232517
Colorado                18.609956
Virginia                17.620674
Ohio                    17.463444
Arizona                 17.391405
New Jersey              17.291268
Missouri                17.234403
New Hampshire           16.933961
Arkansas                16.894321
Idaho                   16.738557
Delaware                16.730818
Utah                    16.726862
Tennessee               16.493498
Maryland                16.486088
Wisconsin               16.481575
Mississippi             16.433472
Alabama                 16.381372
Indiana                 16.142676
Rhode Island            15.929421
South Carolina          15.847571
California              15.511225
Florida                 15.510182
Illinois                15.435138
Vermont                 15.404951
Pennsylvania            15.176096
Connecticut             15.036055
Georgia                 14.998929
Louisiana               14.957437
New Mexico              14.900635
Michigan                14.888312
Massachusetts           14.808773
New York                14.794163
Puerto Rico             14.756341
District of Columbia    14.644038
Kansas                  14.324708
Iowa                    14.254606
Nevada                  14.246520
Maine                   14.100144
Minnesota               14.051191
Oklahoma                13.896108
Washington              13.830292
North Dakota            13.764317
Kentucky                13.743922
Montana                 13.689791
Oregon                  13.142993
South Dakota            12.830029
West Virginia           12.735317
Nebraska                12.721923
Hawaii                  12.371873
Alaska                  11.105470
Wyoming                  8.832149
Virgin Islands           7.617438
Guam                     6.165686
Name: wage_prem_90th, dtype: float64

In [0]:
#certain states are better at the entry level amount of money for analysts and other states are better at senior level pay for analysts

In [0]:
#sum of all the wage premiums
countyrent[['wage_prem_10th','wage_prem_25th','wage_premium','wage_prem_75th','wage_prem_90th','STATE','OCC_TITLE']]

       wage_prem_10th  ...                                          OCC_TITLE
0            0.678457  ...                                    All Occupations
1            1.830668  ...                             Management Occupations
2            2.992662  ...                                   Chief Executives
3            1.888241  ...                    General and Operations Managers
4            0.613735  ...                                        Legislators
...               ...  ...                                                ...
36892        0.885339  ...       Automotive and Watercraft Service Attendants
36893        1.021882  ...                  Transportation Workers, All Other
36894        0.926039  ...             Industrial Truck and Tractor Operators
36895        0.883151  ...  Laborers and Freight, Stock, and Material Move...
36896        0.882713  ...                        Packers and Packagers, Hand

[36897 rows x 7 columns]

In [0]:
#there is a all occupations wage percentiles which is lower in the 10th percentile relative to my wage premium average( of all job titles not weighted for all people)
# that is because a relatively few job titles must have a lot of workers who are in the bottom. Meaning since in my calculation each job title is equal weight
#the calculation is wrong because there should be a large weight added to those job titles making a small amount since they have a lot more jobs in that title
#the other end is similar meaning that

#there are columns that tally the management occupations that I need to delete to have the calculations right
#also there are zero values in chief executives for some reason?

In [0]:
countyrent[(countyrent['STATE']=='Alabama') & (countyrent['OCC_TITLE']=='Chief Executives')]

   Unnamed: 0  AREA  ST  ... wage_prem_75th stateprem90th wage_prem_90th
2           2     1  AL  ...            0.0         62380            0.0

[1 rows x 39 columns]

In [0]:
#chief executives make too much and has a zero value. I should not include them or I could extrapolate what those are given other jobs ratios between median and 90th
#if I do either the data would not be completely accurate.

In [0]:
countyrent[(countyrent['A_PCT90']==0) | (countyrent['A_PCT10']==0)]['OCC_TITLE'].value_counts()[:20]
#I could get rid of all of these jobs from the calculation but it is a lot of the jobs and a lot of the states
#these jobs either make too much money on the 90th percentile or they have no way to calculate them so its all blank
#I could use the hourly salary but that can be wrong since they jobs sometimes work different amounts of hours

Chief Executives                                                      53
Physicians and Surgeons, All Other                                    52
Family and General Practitioners                                      51
Anesthesiologists                                                     50
Surgeons                                                              50
Dentists, General                                                     50
Internists, General                                                   50
Psychiatrists                                                         48
Obstetricians and Gynecologists                                       48
Pediatricians, General                                                46
Musicians and Singers                                                 41
Nurse Anesthetists                                                    40
Personal Financial Advisors                                           36
Entertainers and Performers, Sports and Related Workers, All Other    35
Sales Managers                                                        32
Actors                                                                32
Podiatrists                                                           31
Orthodontists                                                         31
Health Specialties Teachers, Postsecondary                            30
General and Operations Managers                                       26
Name: OCC_TITLE, dtype: int64

In [0]:
countyrent[countyrent['H_MEDIAN']>0]['OCC_TITLE'].value_counts()
#the amount of jobs with at least 1 state where hourly median has a greater than 0 value - 771

Tellers                         54
Public Relations Specialists    54
Computer Systems Analysts       54
Pharmacists                     54
Postal Service Mail Carriers    54
                                ..
Model Makers, Wood               3
Prosthodontists                  2
Cooks, Private Household         1
Farm Labor Contractors           1
Locomotive Firers                1
Name: OCC_TITLE, Length: 771, dtype: int64

In [0]:
countyrent['OCC_TITLE'].value_counts()
#the amount of job titles in general - 831

Licensed Practical and Licensed Vocational Nurses    54
Compliance Officers                                  54
Public Relations Specialists                         54
Social and Community Service Managers                54
Driver/Sales Workers                                 54
                                                     ..
Fabric Menders, Except Garment                        3
Prosthodontists                                       2
Cooks, Private Household                              1
Locomotive Firers                                     1
Farm Labor Contractors                                1
Name: OCC_TITLE, Length: 831, dtype: int64

In [0]:
#there are 60 jobs that do not have hourly data - (total jobs 831 - jobs that have some hourly data 771) = 60
countyrent[countyrent['H_MEDIAN']==0]['OCC_TITLE'].value_counts()

Secondary School Teachers, Except Special and Career/Technical Education    54
Teachers and Instructors, All Other, Except Substitute Teachers             54
Elementary School Teachers, Except Special Education                        54
Teacher Assistants                                                          54
Education Administrators, Elementary and Secondary School                   54
                                                                            ..
Writers and Authors                                                          1
Morticians, Undertakers, and Funeral Directors                               1
Service Unit Operators, Oil, Gas, and Mining                                 1
Locksmiths and Safe Repairers                                                1
Geoscientists, Except Hydrologists and Geographers                           1
Name: OCC_TITLE, Length: 295, dtype: int64

In [0]:
jobswithsomedata =countyrent[countyrent['H_MEDIAN']>0]['OCC_TITLE'].value_counts()
alljobtitles =countyrent['OCC_TITLE'].value_counts()

In [0]:
main_list = list(set(alljobtitles.index) - set(jobswithsomedata.index))
main_list
#these jobs do not have any hourly, but I can see surgeon has hourly so I am doing something wrong
# I am subtracting jobs that have some data from all of them so the remainder should be jobs with no data for hourly median

['Sociology Teachers, Postsecondary',
 'Special Education Teachers, All Other',
 'Foreign Language and Literature Teachers, Postsecondary',
 'Art, Drama, and Music Teachers, Postsecondary',
 'Athletes and Sports Competitors',
 'Forestry and Conservation Science Teachers, Postsecondary',
 'Special Education Teachers, Preschool',
 'Physics Teachers, Postsecondary',
 'Mathematical Science Teachers, Postsecondary',
 'Career/Technical Education Teachers, Secondary School',
 'Social Work Teachers, Postsecondary',
 'Health Specialties Teachers, Postsecondary',
 'Law Teachers, Postsecondary',
 'Special Education Teachers, Secondary School',
 'Chemistry Teachers, Postsecondary',
 'Career/Technical Education Teachers, Middle School',
 'Kindergarten Teachers, Except Special Education',
 'Airline Pilots, Copilots, and Flight Engineers',
 'Postsecondary Teachers, All Other',
 'Special Education Teachers, Kindergarten and Elementary School',
 'Legislators',
 'Area, Ethnic, and Cultural Studies Teachers, Postsecondary',
 'Education Teachers, Postsecondary',
 'Architecture Teachers, Postsecondary',
 'Recreation and Fitness Studies Teachers, Postsecondary',
 'Special Education Teachers, Middle School',
 'Economics Teachers, Postsecondary',
 'English Language and Literature Teachers, Postsecondary',
 'Biological Science Teachers, Postsecondary',
 'Geography Teachers, Postsecondary',
 'Communications Teachers, Postsecondary',
 'Computer Science Teachers, Postsecondary',
 'Psychology Teachers, Postsecondary',
 'Education Administrators, Elementary and Secondary School',
 'Secondary School Teachers, Except Special and Career/Technical Education',
 'Agricultural Sciences Teachers, Postsecondary',
 'Social Sciences Teachers, Postsecondary, All Other',
 'Commercial Pilots',
 'Athletic Trainers',
 'Environmental Science Teachers, Postsecondary',
 'Philosophy and Religion Teachers, Postsecondary',
 'Teachers and Instructors, All Other, Except Substitute Teachers',
 'Business Teachers, Postsecondary',
 'Home Economics Teachers, Postsecondary',
 'Surgeons',
 'Umpires, Referees, and Other Sports Officials',
 'Teacher Assistants',
 'Graduate Teaching Assistants',
 'Flight Attendants',
 'Nursing Instructors and Teachers, Postsecondary',
 'Engineering Teachers, Postsecondary',
 'Atmospheric, Earth, Marine, and Space Sciences Teachers, Postsecondary',
 'Library Science Teachers, Postsecondary',
 'Elementary School Teachers, Except Special Education',
 'History Teachers, Postsecondary',
 'Coaches and Scouts',
 'Anthropology and Archeology Teachers, Postsecondary',
 'Criminal Justice and Law Enforcement Teachers, Postsecondary',
 'Middle School Teachers, Except Special and Career/Technical Education',
 'Political Science Teachers, Postsecondary']

In [0]:
#jobs with at least 1 state where hourly median is 0 but some jobs are not in all states
# i need to find how many states have each job
countyrent[countyrent['H_MEDIAN']==0]['OCC_TITLE'].value_counts().index.tolist()

In [0]:
countyrent['OCC_TITLE'].value_counts().loc['Surgeons']#there were only 50 states with surgeons

50

In [0]:
for i in main_list:
  print(countyrent['OCC_TITLE'].value_counts().loc[i] == countyrent[countyrent['H_MEDIAN']==0]['OCC_TITLE'].value_counts().loc[i])
#all true

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [0]:
countyrent[(countyrent['A_PCT75']==0) & (countyrent['OCC_TITLE']=='Wellhead Pumpers')]

       Unnamed: 0  AREA  ST  ... wage_prem_75th stateprem90th wage_prem_90th
10411       10411    18  IN  ...            0.0         63080            0.0

[1 rows x 39 columns]

In [0]:
countyrent[countyrent['OCC_TITLE']=='Prosthodontists']
#some jobs are only in certain states

       Unnamed: 0  AREA  ST  ... wage_prem_75th stateprem90th wage_prem_90th
6364         6364    12  FL  ...            0.0         64085            0.0
32684       32684    51  VA  ...            0.0         66750            0.0

[2 rows x 39 columns]

In [0]:
countyrent[(countyrent['A_PCT75']==0) | (countyrent['A_PCT10']==0)]['OCC_TITLE'].value_counts().loc['Surgeons']

50

In [0]:
for i in countyrent['OCC_TITLE'].value_counts().index:
  try:
    print(countyrent['OCC_TITLE'].value_counts().loc[i],countyrent['OCC_TITLE'].value_counts().loc[i] - countyrent[(countyrent['A_PCT75']==0) | (countyrent['A_PCT10']==0)]['OCC_TITLE'].value_counts().loc[i],' ',i)
  except:
    continue

54 52   General and Operations Managers
54 52   Computer and Information Systems Managers
54 50   Sales Managers
54 53   Food Service Managers
54 53   Chefs and Head Cooks
54 53   Dining Room and Cafeteria Attendants and Bartender Helpers
54 52   Marketing Managers
54 53   Legal Occupations
54 52   Environmental Scientists and Specialists, Including Health
54 53   Security Guards
54 52   Office and Administrative Support Workers, All Other
54 52   Cement Masons and Concrete Finishers
54 53   Plumbers, Pipefitters, and Steamfitters
54 53   First-Line Supervisors of Housekeeping and Janitorial Workers
54 49   Lawyers
54 53   Computer Network Support Specialists
54 53   Insurance Sales Agents
54 52   Financial Managers
53 52   Advertising Sales Agents
53 2   Physicians and Surgeons, All Other
53 50   Cargo and Freight Agents
53 52   Financial Specialists, All Other
53 52   Lodging Managers
53 52   Computer Occupations, All Other
53 13   Chief Executives
53 52   Hazardous Materials Removal Workers
53 51   Tax Preparers
53 52   Legal Secretaries
53 51   Education Administrators, All Other
53 52   Logisticians
53 51   Architects, Except Landscape and Naval
53 52   Purchasing Managers
53 52   Financial Analysts
53 52   Order Clerks
53 52   Floral Designers
52 51   Veterinarians
52 51   Securities, Commodities, and Financial Services Sales Agents
52 50   Interior Designers
52 3   Family and General Practitioners
52 51   Software Developers, Applications
52 50   Optometrists
52 50   Photographers
52 50   Editors
52 50   Food Batchmakers
52 50   Computer Network Architects
52 51   Computer Programmers
52 50   Broadcast Technicians
52 50   Maintenance Workers, Machinery
52 50   Crane and Tower Operators
52 51   Refuse and Recyclable Material Collectors
52 51   Producers and Directors
52 51   Cardiovascular Technologists and Technicians
52 49   Personal Financial Advisors
52 51   Environmental Engineers
52 51   Substance Abuse, Behavioral Disorder, and Mental Health Counselors
52 50   Stationary Engineers and Boiler Operators
51 49   Weighers, Measurers, Checkers, and Samplers, Recordkeeping
51 50   Appraisers and Assessors of Real Estate
51 2   Anesthesiologists
51 49   Crossing Guards
51 49   Skincare Specialists
51 3   Internists, General
51 50   Writers and Authors
51 49   Mathematical Science Teachers, Postsecondary
51 48   Business Teachers, Postsecondary
51 49   Health Diagnosing and Treating Practitioners, All Other
51 50   Pharmacy Aides
51 50   Labor Relations Specialists
51 50   Protective Service Workers, All Other
51 49   Conservation Scientists
51 14   Dentists, General
51 50   Library Assistants, Clerical
51 50   New Accounts Clerks
51 50   Community Health Workers
50 49   Special Education Teachers, Middle School
50 43   Real Estate Brokers
50 46   Radio and Television Announcers
50 49   Art, Drama, and Music Teachers, Postsecondary
50 49   Sales Engineers
50 49   Mechanical Engineering Technicians
50 49   Computer Science Teachers, Postsecondary
50 48   Nursing Instructors and Teachers, Postsecondary
50 0   Surgeons
50 48   Morticians, Undertakers, and Funeral Directors
50 47   Medical Scientists, Except Epidemiologists
50 38   Health Specialties Teachers, Postsecondary
50 49   Electrical and Electronics Drafters
50 49   Chiropractors
50 49   Public Relations and Fundraising Managers
50 49   Education Teachers, Postsecondary
50 49   Healthcare Practitioners and Technical Workers, All Other
50 49   Occupational Health and Safety Technicians
50 49   Emergency Management Directors
49 48   Print Binding and Finishing Workers
49 16   Pediatricians, General
49 48   Locksmiths and Safe Repairers
49 3   Psychiatrists
49 48   English Language and Literature Teachers, Postsecondary
49 47   Power Plant Operators
49 48   Biological Science Teachers, Postsecondary
49 48   Electronic Home Entertainment Equipment Installers and Repairers
49 47   Psychology Teachers, Postsecondary
49 48   Statisticians
49 48   Credit Counselors
49 46   Environmental Engineering Technicians
49 48   Education Administrators, Postsecondary
49 48   Aircraft Mechanics and Service Technicians
49 48   Art Directors
49 48   Marriage and Family Therapists
49 48   Separating, Filtering, Clarifying, Precipitating, and Still Machine Setters, Operators, and Tenders
49 48   Geoscientists, Except Hydrologists and Geographers
48 47   Meter Readers, Utilities
48 46   Chemical Engineers
48 47   First-Line Supervisors of Farming, Fishing, and Forestry Workers
48 47   Extruding, Forming, Pressing, and Compacting Machine Setters, Operators, and Tenders
48 47   Industrial Engineering Technicians
48 46   Chemistry Teachers, Postsecondary
48 46   Transportation Inspectors
48 44   Camera Operators, Television, Video, and Motion Picture
48 1   Obstetricians and Gynecologists
48 45   Communications Teachers, Postsecondary
48 43   Engineering Teachers, Postsecondary
48 43   Natural Sciences Managers
48 47   Advertising and Promotions Managers
47 46   Special Education Teachers, All Other
47 46   Financial Clerks, All Other
47 36   Nurse Anesthetists
47 46   Landscape Architects
47 46   Pesticide Handlers, Sprayers, and Applicators, Vegetation
47 46   Automotive Glass Installers and Repairers
47 46   Personal Care and Service Workers, All Other
47 46   Computer-Controlled Machine Tool Operators, Metal and Plastic
46 45   Transportation Workers, All Other
46 45   Foreign Language and Literature Teachers, Postsecondary
46 45   Plant and System Operators, All Other
46 43   Private Detectives and Investigators
46 45   Compensation and Benefits Managers
45 44   Demonstrators and Product Promoters
45 43   Economics Teachers, Postsecondary
45 42   Political Science Teachers, Postsecondary
45 44   Atmospheric and Space Scientists
45 44   Sales and Related Workers, All Other
45 42   Audiologists
45 44   Orthotists and Prosthetists
45 44   Sociology Teachers, Postsecondary
45 41   Criminal Justice and Law Enforcement Teachers, Postsecondary
45 44   Plating and Coating Machine Setters, Operators, and Tenders, Metal and Plastic
44 43   Upholsterers
44 42   Umpires, Referees, and Other Sports Officials
44 43   Agricultural and Food Science Technicians
44 43   Ambulance Drivers and Attendants, Except Emergency Medical Technicians
44 42   Fire Inspectors and Investigators
44 42   Tailors, Dressmakers, and Custom Sewers
44 37   Legislators
43 38   Recreation and Fitness Studies Teachers, Postsecondary
43 41   Counselors, All Other
43 42   Rail-Track Laying and Maintenance Equipment Operators
43 39   Computer Hardware Engineers
43 41   Materials Engineers
43 42   Petroleum Pump System Operators, Refinery Operators, and Gaugers
43 42   Psychologists, All Other
43 42   Food Processing Workers, All Other
43 36   Film and Video Editors
42 41   Media and Communication Equipment Workers, All Other
42 41   Statistical Assistants
41 28   Podiatrists
41 40   Atmospheric, Earth, Marine, and Space Sciences Teachers, Postsecondary
41 40   Social Sciences Teachers, Postsecondary, All Other
41 40   Court Reporters
41 40   Plasterers and Stucco Masons
41 0   Musicians and Singers
41 40   Floor Layers, Except Carpet, Wood, and Hard Tiles
41 37   Judges, Magistrate Judges, and Magistrates
41 38   Music Directors and Composers
41 40   Railroad Conductors and Yardmasters
40 38   Milling and Planing Machine Setters, Operators, and Tenders, Metal and Plastic
40 39   Textile, Apparel, and Furnishings Workers, All Other
40 38   Chemical Plant and System Operators
40 36   Social Work Teachers, Postsecondary
40 38   Arbitrators, Mediators, and Conciliators
40 26   Airline Pilots, Copilots, and Flight Engineers
40 39   Graders and Sorters, Agricultural Products
39 38   Helpers--Extraction Workers
39 36   Graduate Teaching Assistants
39 37   Electro-Mechanical Technicians
39 37   Social Science Research Assistants
39 35   Fine Artists, Including Painters, Sculptors, and Illustrators
38 37   Avionics Technicians
38 37   Desktop Publishers
38 37   Electrical and Electronics Installers and Repairers, Transportation Equipment
38 35   Material Moving Workers, All Other
38 37   Anthropologists and Archeologists
38 36   Actuaries
38 36   Geological and Petroleum Technicians
38 36   Physicists
37 35   Survey Researchers
37 31   Funeral Service Managers
37 35   Biomedical Engineers
37 36   Set and Exhibit Designers
37 36   First-Line Supervisors of Gaming Workers
37 36   Cooling and Freezing Equipment Operators and Tenders
36 35   Parking Enforcement Workers
36 35   Aircraft Cargo Handling Supervisors
36 35   Cooks, All Other
36 34   Gaming Dealers
36 35   Hydrologists
36 35   Proofreaders and Copy Markers
36 34   Epidemiologists
35 34   Drilling and Boring Machine Tool Setters, Operators, and Tenders, Metal and Plastic
35 0   Entertainers and Performers, Sports and Related Workers, All Other
35 31   Captains, Mates, and Pilots of Water Vessels
35 34   Sailors and Marine Oilers
35 33   Engine and Other Machine Assemblers
35 30   Area, Ethnic, and Cultural Studies Teachers, Postsecondary
34 32   Railroad Brake, Signal, and Switch Operators
34 33   Judicial Law Clerks
34 31   Sound Engineering Technicians
34 31   Postsecondary Teachers, All Other
33 26   Law Teachers, Postsecondary
33 29   Biochemists and Biophysicists
33 28   Public Address System and Other Announcers
33 32   Materials Scientists
33 30   Life Scientists, All Other
33 31   Craft Artists
33 32   Traffic Technicians
33 32   Gaming Change Persons and Booth Cashiers
33 31   Farm and Home Management Advisors
32 16   Dentists, All Other Specialists
32 0   Actors
32 29   Agricultural Sciences Teachers, Postsecondary
32 30   Gaming Surveillance Officers and Gaming Investigators
32 27   Broadcast News Analysts
32 3   Orthodontists
32 30   Continuous Mining Machine Operators
32 30   Farmers, Ranchers, and Other Agricultural Managers
31 30   Shoe and Leather Workers and Repairers
31 30   Pump Operators, Except Wellhead Pumpers
31 26   Environmental Science Teachers, Postsecondary
31 19   Athletes and Sports Competitors
31 30   Anthropology and Archeology Teachers, Postsecondary
30 29   Tapers
30 25   Fashion Designers
29 24   Mining and Geological Engineers, Including Mining Safety Engineers
28 27   Genetic Counselors
28 26   Geography Teachers, Postsecondary
28 27   Agricultural Workers, All Other
28 24   Agents and Business Managers of Artists, Performers, and Athletes
28 23   Architecture Teachers, Postsecondary
27 26   Pourers and Casters, Metal
27 25   Rotary Drill Operators, Oil and Gas
27 26   Layout Workers, Metal and Plastic
27 26   Textile Knitting and Weaving Machine Setters, Operators, and Tenders
26 25   Telephone Operators
26 25   Door-to-Door Sales Workers, News and Street Vendors, and Related Workers
25 0   Dancers
25 23   Aerospace Engineering and Operations Technicians
25 24   Nuclear Engineers
25 24   Service Unit Operators, Oil, Gas, and Mining
25 24   Roustabouts, Oil and Gas
24 1   Oral and Maxillofacial Surgeons
24 21   Hoist and Winch Operators
24 17   Petroleum Engineers
23 21   Extraction Workers, All Other
22 21   Gaming Managers
22 21   Ship Engineers
22 21   Choreographers
21 17   Pile-Driver Operators
21 19   Flight Attendants
20 19   Wellhead Pumpers
19 18   Communications Equipment Operators, All Other
19 16   Forestry and Conservation Science Teachers, Postsecondary
19 18   Aircraft Structure, Surfaces, Rigging, and Systems Assemblers
18 17   Mine Cutting and Channeling Machine Operators
18 17   Miscellaneous Mathematical Science Occupations
18 17   Watch Repairers
17 15   Marine Engineers and Naval Architects
16 15   Mathematicians
16 15   Home Economics Teachers, Postsecondary
16 15   Mining Machine Operators, All Other
16 15   Nuclear Technicians
15 14   Models
11 9   Agricultural Engineers
10 9   Transit and Railroad Police
9 7   Radio Operators
6 4   Timing Device Assemblers and Adjusters
4 3   Model Makers, Wood
2 0   Prosthodontists

In [0]:
#cheapest rent studio
countyrent[['rent50_0','cntyname','state_alpha']].sort_values(by='rent50_0',ascending=True)

     rent50_0                cntyname state_alpha
0         319      Aibonito Municipio          PR
1         319  Barranquitas Municipio          PR
2         319        Ciales Municipio          PR
3         319       Maunabo Municipio          PR
4         319      Orocovis Municipio          PR
..        ...                     ...         ...
72       1660          Alameda County          CA
67       1873      Santa Clara County          CA
113      2179    San Francisco County          CA
126      2179        San Mateo County          CA
292      2179            Marin County          CA

[4770 rows x 3 columns]

In [0]:
 #cheapest rent studios not puerto rico guam virgin islands
 countyrent[~countyrent['state_alpha'].isin(['PR','GU','VI'])][['rent50_0','state_alpha','cntyname']].sort_values(by='rent50_0',ascending=True)

      rent50_0 state_alpha              cntyname
2214       405          AR          Sharp County
97         406          TN        Weakley County
2229       406          AR         Sevier County
3141       407          AR       Woodruff County
1723       409          MO          Texas County
...        ...         ...                   ...
72        1660          CA        Alameda County
67        1873          CA    Santa Clara County
126       2179          CA      San Mateo County
113       2179          CA  San Francisco County
292       2179          CA          Marin County

[4688 rows x 3 columns]

In [0]:
countyrent[~countyrent['state_alpha'].isin(['PR','GU','VI'])][['rent50_1','state_alpha','cntyname']].sort_values(by='rent50_1',ascending=True)

      rent50_1 state_alpha              cntyname
1541       456          AL         Marion County
820        456          AL         DeKalb County
2553       456          AL        Conecuh County
2063       456          AL        Pickens County
1800       456          AL        Winston County
...        ...         ...                   ...
72        2000          CA        Alameda County
67        2217          CA    Santa Clara County
292       2704          CA          Marin County
113       2704          CA  San Francisco County
126       2704          CA      San Mateo County

[4688 rows x 3 columns]

In [0]:
countyrent[~countyrent['state_alpha'].isin(['PR','GU','VI'])][['rent50_2','state_alpha','cntyname']].sort_values(by='rent50_2',ascending=True)

      rent50_2 state_alpha              cntyname
2553       606          AL        Conecuh County
1984       606          AL        Marengo County
1182       606          AL         Dallas County
2760       606          AL          Perry County
1733       606          AL         Clarke County
...        ...         ...                   ...
72        2511          CA        Alameda County
67        2753          CA    Santa Clara County
126       3377          CA      San Mateo County
113       3377          CA  San Francisco County
292       3377          CA          Marin County

[4688 rows x 3 columns]

In [0]:
countyrent[~countyrent['state_alpha'].isin(['PR','GU','VI'])][['rent50_3','state_alpha','cntyname']].sort_values(by='rent50_3',ascending=True)

      rent50_3 state_alpha              cntyname
3418       769          TN        Pickett County
2141       769          TN        Johnson County
1505       769          TN      Claiborne County
2233       769          TN          Wayne County
1867       769          AL         Monroe County
...        ...         ...                   ...
72        3470          CA        Alameda County
67        3785          CA    Santa Clara County
126       4404          CA      San Mateo County
113       4404          CA  San Francisco County
292       4404          CA          Marin County

[4688 rows x 3 columns]

In [0]:
#cheapest states by median rent of counties weighted by population
countyrent.head(1)
#countyrent['state_median_2']= countyrent.apply(lambda x : income_dict[x['STATE']] if x['STATE'] in income_dict else 0,axis=1)

   Unnamed: 0    fips2010  rent50_0  ...  Unnamed: 18  Unnamed: 19  Unnamed: 20
0           0  7200999999       319  ...          NaN           AR          NaN

[1 rows x 22 columns]

In [0]:
#get unique states
unique_states = countyrent['state_alpha'].unique()

In [3]:
#loop through each state and make a dict with each state total population
population = dict()
for state in unique_states:
  population[state] = countyrent[countyrent['state_alpha'] == state]['pop2010'].sum()
population

{'AK': 710231.0,
 'AL': 4779736.0,
 'AR': 2915918.0,
 'AS': 55519.0,
 'AZ': 6392017.0,
 'CA': 37253956.0,
 'CO': 5029196.0,
 'CT': 3574097.0,
 'DC': 601723.0,
 'DE': 897934.0,
 'FL': 18801310.0,
 'GA': 9687653.0,
 'GU': 159358.0,
 'HI': 1360301.0,
 'IA': 3046355.0,
 'ID': 1567582.0,
 'IL': 12830632.0,
 'IN': 6483802.0,
 'KS': 2853118.0,
 'KY': 4339367.0,
 'LA': 4533372.0,
 'MA': 6547629.0,
 'MD': 5773552.0,
 'ME': 1328355.0,
 'MI': 9883640.0,
 'MN': 5303925.0,
 'MO': 5990401.0,
 'MP': 53883.0,
 'MS': 2967297.0,
 'MT': 989415.0,
 'NC': 9535483.0,
 'ND': 672591.0,
 'NE': 1826341.0,
 'NH': 1316470.0,
 'NJ': 8791894.0,
 'NM': 2059179.0,
 'NV': 2700551.0,
 'NY': 20327215.0,
 'OH': 11536504.0,
 'OK': 3751351.0,
 'OR': 3831074.0,
 'PA': 12702379.0,
 'PR': 3725789.0,
 'RI': 1052567.0,
 'SC': 4625364.0,
 'SD': 814180.0,
 'TN': 6346105.0,
 'TX': 25145561.0,
 'UT': 2763885.0,
 'VA': 8001024.0,
 'VI': 108612.0,
 'VT': 625741.0,
 'WA': 6724540.0,
 'WI': 5686986.0,
 'WV': 1852994.0,
 'WY': 563626.0}

In [0]:
countyrent['percent_pop']= countyrent.apply(lambda x : (x['pop2010']/population[x['state_alpha']]) if x['state_alpha'] in population else 0,axis=1)

In [5]:
countyrent
#some do not have population data but I will just give them no weight since I don't know how many people live there

      Unnamed: 0    fips2010  rent50_0  ...  Unnamed: 19  Unnamed: 20  percent_pop
0              0  7200999999       319  ...           AR          NaN     0.006952
1              1  7201999999       319  ...           PR          NaN     0.008137
2              2  7203999999       319  ...           TN          NaN     0.005041
3              3  7209599999       319  ...           MO          NaN     0.003281
4              4  7210799999       319  ...           WV          NaN     0.006287
...          ...         ...       ...  ...          ...          ...          ...
4765        4765  2301347962       749  ...          NaN          NaN     0.000000
4766        4766  2301541280       751  ...          NaN          NaN     0.000000
4767        4767  3300942820       760  ...          NaN          NaN     0.000000
4768        4768  2300742765       585  ...          NaN          NaN          NaN
4769        4769  2302911755       653  ...          NaN          NaN          NaN

[4770 rows x 23 columns]

In [0]:
countyrent['rent*weight'] = countyrent['percent_pop'] * countyrent['rent50_1']

In [7]:
countyrent

      Unnamed: 0    fips2010  rent50_0  ...  Unnamed: 20  percent_pop  rent*weight
0              0  7200999999       319  ...          NaN     0.006952     2.342672
1              1  7201999999       319  ...          NaN     0.008137     2.742283
2              2  7203999999       319  ...          NaN     0.005041     1.698844
3              3  7209599999       319  ...          NaN     0.003281     1.105759
4              4  7210799999       319  ...          NaN     0.006287     2.118625
...          ...         ...       ...  ...          ...          ...          ...
4765        4765  2301347962       749  ...          NaN     0.000000     0.000000
4766        4766  2301541280       751  ...          NaN     0.000000     0.000000
4767        4767  3300942820       760  ...          NaN     0.000000     0.000000
4768        4768  2300742765       585  ...          NaN          NaN          NaN
4769        4769  2302911755       653  ...          NaN          NaN          NaN

[4770 rows x 24 columns]

In [8]:
#sums of each state 
countyrent.groupby(by='state_alpha')['rent*weight'].sum().sort_values(ascending=False)
#this should be represntative of the median for each state 1 bedrooms

state_alpha
DC    1561.000000
HI    1458.482084
CA    1386.287060
NY    1366.147883
MA    1277.459490
MD    1264.818973
NJ    1232.816093
CT    1119.066787
VA    1078.348814
CO    1054.017510
AK    1052.144323
WA    1033.182154
NH     966.589663
VT     959.241566
OR     955.967415
DE     952.394751
IL     941.204392
FL     939.084319
RI     920.134571
VI     891.895656
TX     849.899658
PA     842.197828
GA     821.005716
NV     817.977920
MN     807.728784
AZ     807.601694
GU     807.000000
ME     805.389785
UT     779.818171
LA     752.441571
SC     752.245193
NC     743.441952
MI     722.146806
NM     712.488340
WI     704.767521
WY     703.596601
TN     692.129014
MT     689.256317
ND     682.174170
IN     677.846573
NE     667.014760
KS     664.796423
AL     664.726417
MO     664.687476
OK     654.078172
OH     650.794011
MS     650.628086
ID     646.535346
WV     633.658088
IA     630.245279
SD     613.649489
KY     613.633061
AR     592.571145
AS     556.000000
MP     546.000000
PR     431.061640
Name: rent*weight, dtype: float64

In [0]:
#should do the median rent 1 bedroom each state vs median income
#should do for each bedroom size vs median
#should do best state for single analysts ( me)
for i in [0,1,2,3]:
  countyrent[str('rent' + str(i) + '*weight')] = countyrent['percent_pop'] * countyrent[str('rent50_' + str(i))]

In [0]:
studio = countyrent.groupby(by='state_alpha')['rent0*weight'].sum().sort_values(ascending=False).rank(ascending=False)

In [0]:
onebed = countyrent.groupby(by='state_alpha')['rent1*weight'].sum().sort_values(ascending=False).rank(ascending=False)

In [0]:
twobed = countyrent.groupby(by='state_alpha')['rent2*weight'].sum().sort_values(ascending=False).rank(ascending=False)

In [0]:
threebed = countyrent.groupby(by='state_alpha')['rent3*weight'].sum().sort_values(ascending=False).rank(ascending=False)

In [14]:
#do a rank on each of these and add up which had the highest amount of rank meaning lowest rents 
rooms = [studio,onebed,twobed,threebed]
combined = pd.concat(rooms,axis=1)
combined

    rent0*weight  rent1*weight  rent2*weight  rent3*weight
DC           1.0           1.0           2.0           3.0
HI           2.0           2.0           1.0           1.0
NY           3.0           4.0           4.0           4.0
CA           4.0           3.0           3.0           2.0
MA           5.0           5.0           5.0           5.0
MD           6.0           6.0           6.0           6.0
NJ           7.0           7.0           7.0           7.0
VA           8.0           9.0          12.0          12.0
CT           9.0           8.0           8.0          11.0
AK          10.0          11.0           9.0           8.0
WA          11.0          12.0          11.0          10.0
CO          12.0          10.0          10.0           9.0
NH          13.0          13.0          13.0          14.0
OR          14.0          15.0          15.0          13.0
VT          15.0          14.0          14.0          16.0
DE          16.0          16.0          17.0          18.0
IL          17.0          17.0          18.0          21.0
FL          18.0          18.0          16.0          15.0
RI          19.0          19.0          19.0          24.0
VI          20.0          20.0          20.0          25.0
GA          21.0          23.0          28.0          29.0
GU          22.0          27.0          21.0          17.0
ME          23.0          28.0          27.0          28.0
TX          24.0          21.0          22.0          23.0
PA          25.0          22.0          23.0          27.0
NC          26.0          32.0          34.0          35.0
AZ          27.0          26.0          26.0          20.0
MN          28.0          25.0          24.0          22.0
NV          29.0          24.0          25.0          19.0
SC          30.0          31.0          33.0          36.0
LA          31.0          30.0          31.0          38.0
UT          32.0          29.0          29.0          26.0
WY          33.0          36.0          32.0          34.0
ND          34.0          39.0          38.0          30.0
MI          35.0          33.0          30.0          32.0
TN          36.0          37.0          39.0          43.0
AL          37.0          43.0          48.0          49.0
NM          38.0          34.0          37.0          31.0
MT          39.0          38.0          36.0          33.0
WI          40.0          35.0          35.0          37.0
OK          41.0          45.0          44.0          44.0
IN          42.0          40.0          42.0          45.0
MS          43.0          47.0          49.0          52.0
MO          44.0          44.0          43.0          42.0
WV          45.0          49.0          52.0          54.0
KS          46.0          42.0          40.0          40.0
ID          47.0          48.0          45.0          39.0
OH          48.0          46.0          46.0          46.0
NE          49.0          41.0          41.0          41.0
AS          50.0          54.0          54.0          48.0
KY          51.0          52.0          51.0          51.0
IA          52.0          50.0          47.0          47.0
AR          53.0          53.0          53.0          55.0
SD          54.0          51.0          50.0          50.0
MP          55.0          55.0          55.0          53.0
PR          56.0          56.0          56.0          56.0

In [0]:
combined['sum'] = combined.apply(sum,axis=1)

In [16]:
combined.sort_values(by='sum',ascending=True)
#the top states are the cheapest when looking at the added rankings of all room sizes when more ranking means cheaper relative housing

    rent0*weight  rent1*weight  rent2*weight  rent3*weight    sum
HI           2.0           2.0           1.0           1.0    6.0
DC           1.0           1.0           2.0           3.0    7.0
CA           4.0           3.0           3.0           2.0   12.0
NY           3.0           4.0           4.0           4.0   15.0
MA           5.0           5.0           5.0           5.0   20.0
MD           6.0           6.0           6.0           6.0   24.0
NJ           7.0           7.0           7.0           7.0   28.0
CT           9.0           8.0           8.0          11.0   36.0
AK          10.0          11.0           9.0           8.0   38.0
VA           8.0           9.0          12.0          12.0   41.0
CO          12.0          10.0          10.0           9.0   41.0
WA          11.0          12.0          11.0          10.0   44.0
NH          13.0          13.0          13.0          14.0   53.0
OR          14.0          15.0          15.0          13.0   57.0
VT          15.0          14.0          14.0          16.0   59.0
DE          16.0          16.0          17.0          18.0   67.0
FL          18.0          18.0          16.0          15.0   67.0
IL          17.0          17.0          18.0          21.0   73.0
RI          19.0          19.0          19.0          24.0   81.0
VI          20.0          20.0          20.0          25.0   85.0
GU          22.0          27.0          21.0          17.0   87.0
TX          24.0          21.0          22.0          23.0   90.0
NV          29.0          24.0          25.0          19.0   97.0
PA          25.0          22.0          23.0          27.0   97.0
AZ          27.0          26.0          26.0          20.0   99.0
MN          28.0          25.0          24.0          22.0   99.0
GA          21.0          23.0          28.0          29.0  101.0
ME          23.0          28.0          27.0          28.0  106.0
UT          32.0          29.0          29.0          26.0  116.0
NC          26.0          32.0          34.0          35.0  127.0
MI          35.0          33.0          30.0          32.0  130.0
SC          30.0          31.0          33.0          36.0  130.0
LA          31.0          30.0          31.0          38.0  130.0
WY          33.0          36.0          32.0          34.0  135.0
NM          38.0          34.0          37.0          31.0  140.0
ND          34.0          39.0          38.0          30.0  141.0
MT          39.0          38.0          36.0          33.0  146.0
WI          40.0          35.0          35.0          37.0  147.0
TN          36.0          37.0          39.0          43.0  155.0
KS          46.0          42.0          40.0          40.0  168.0
IN          42.0          40.0          42.0          45.0  169.0
NE          49.0          41.0          41.0          41.0  172.0
MO          44.0          44.0          43.0          42.0  173.0
OK          41.0          45.0          44.0          44.0  174.0
AL          37.0          43.0          48.0          49.0  177.0
ID          47.0          48.0          45.0          39.0  179.0
OH          48.0          46.0          46.0          46.0  186.0
MS          43.0          47.0          49.0          52.0  191.0
IA          52.0          50.0          47.0          47.0  196.0
WV          45.0          49.0          52.0          54.0  200.0
KY          51.0          52.0          51.0          51.0  205.0
SD          54.0          51.0          50.0          50.0  205.0
AS          50.0          54.0          54.0          48.0  206.0
AR          53.0          53.0          53.0          55.0  214.0
MP          55.0          55.0          55.0          53.0  218.0
PR          56.0          56.0          56.0          56.0  224.0

In [17]:
#without using ranking but an average between all the room sizes
studio = countyrent.groupby(by='state_alpha')['rent0*weight'].sum().sort_values(ascending=False)
onebed = countyrent.groupby(by='state_alpha')['rent1*weight'].sum().sort_values(ascending=False)
twobed = countyrent.groupby(by='state_alpha')['rent2*weight'].sum().sort_values(ascending=False)
threebed = countyrent.groupby(by='state_alpha')['rent3*weight'].sum().sort_values(ascending=False)
rooms = [studio,onebed,twobed,threebed]
combined = pd.concat(rooms,axis=1)
combined

    rent0*weight  rent1*weight  rent2*weight  rent3*weight
DC   1504.000000   1561.000000   1793.000000   2353.000000
HI   1281.016021   1458.482084   1919.259647   2747.340039
NY   1257.679370   1366.147883   1618.142966   2067.452877
CA   1177.386755   1386.287060   1764.617814   2437.558283
MA   1131.370176   1277.459490   1585.603505   1993.129601
MD   1128.628453   1264.818973   1519.477385   1978.650717
NJ   1061.783317   1232.816093   1517.575473   1954.271274
VA   1026.567988   1078.348814   1269.072348   1697.769695
CT    936.897886   1119.066787   1395.212111   1773.201655
AK    933.124133   1052.144323   1355.500360   1918.343267
WA    912.449489   1033.182154   1291.605027   1856.523393
CO    901.070108   1054.017510   1329.473348   1898.860789
NH    862.082325    966.589663   1237.179175   1630.891960
OR    854.875796    955.967415   1170.059828   1696.494514
VT    849.863688    959.241566   1202.189513   1574.391991
DE    826.396402    952.394751   1159.362307   1533.797961
IL    819.726151    941.204392   1125.327517   1447.039325
FL    813.604703    939.084319   1168.909468   1581.638832
RI    809.522268    920.134571   1107.831544   1408.277355
VI    801.381017    891.895656   1102.989559   1382.691701
GA    786.178875    821.005716    963.678542   1273.498597
GU    743.000000    807.000000   1073.000000   1561.000000
ME    740.161258    805.389785   1003.605187   1317.646962
TX    739.954919    849.899658   1053.010684   1420.377942
PA    726.807526    842.197828   1042.218649   1326.965606
NC    692.597426    743.441952    893.507229   1199.984944
AZ    692.552035    807.601694   1018.177089   1470.946078
MN    674.233856    807.728784   1027.096677   1428.702882
NV    672.825182    817.977920   1026.171306   1489.196470
SC    659.189880    752.245193    896.433745   1191.477616
LA    654.410304    752.441571    907.370852   1175.793742
UT    645.527569    779.818171    962.752149   1373.985113
WY    643.452470    703.596601    897.428621   1217.010837
ND    621.676294    682.174170    872.933720   1230.809308
MI    616.059138    722.146806    920.868513   1226.561729
TN    612.613662    692.129014    853.146715   1136.771698
AL    612.421797    664.726417    805.066068   1070.959066
NM    611.363427    712.488340    876.432315   1226.988380
MT    609.648625    689.256317    879.187634   1226.051974
WI    606.725991    704.767521    891.174661   1183.199205
OK    585.028184    654.078172    836.967028   1132.753682
IN    584.709606    677.846573    848.613794   1114.191413
MS    582.507232    650.628086    794.094567   1048.913810
MO    576.644665    664.687476    847.278395   1143.833281
WV    573.438460    633.658088    766.899854   1014.716809
KS    571.599656    664.796423    851.295074   1150.978147
ID    568.816417    646.535346    836.355671   1174.987261
OH    562.523442    650.794011    833.346936   1100.775264
NE    557.786414    667.014760    849.380409   1148.056857
AS    553.000000    556.000000    740.000000   1076.000000
KY    547.110798    613.633061    778.426113   1056.456226
IA    546.985843    630.245279    807.382725   1080.274698
AR    543.729806    592.571145    747.861378   1010.460274
SD    530.008515    613.649489    781.559990   1059.851932
MP    463.000000    546.000000    726.000000   1048.000000
PR    409.132593    431.061640    513.652342    692.855169

In [0]:
combined['average'] = combined.apply(sum,axis=1) / 4

In [19]:
combined.sort_values(by='average',ascending=False)
#the most expensive at the top

    rent0*weight  rent1*weight  rent2*weight  rent3*weight      average
HI   1281.016021   1458.482084   1919.259647   2747.340039  1851.524448
DC   1504.000000   1561.000000   1793.000000   2353.000000  1802.750000
CA   1177.386755   1386.287060   1764.617814   2437.558283  1691.462478
NY   1257.679370   1366.147883   1618.142966   2067.452877  1577.355774
MA   1131.370176   1277.459490   1585.603505   1993.129601  1496.890693
MD   1128.628453   1264.818973   1519.477385   1978.650717  1472.893882
NJ   1061.783317   1232.816093   1517.575473   1954.271274  1441.611539
AK    933.124133   1052.144323   1355.500360   1918.343267  1314.778021
CT    936.897886   1119.066787   1395.212111   1773.201655  1306.094610
CO    901.070108   1054.017510   1329.473348   1898.860789  1295.855439
WA    912.449489   1033.182154   1291.605027   1856.523393  1273.440016
VA   1026.567988   1078.348814   1269.072348   1697.769695  1267.939711
NH    862.082325    966.589663   1237.179175   1630.891960  1174.185781
OR    854.875796    955.967415   1170.059828   1696.494514  1169.349388
VT    849.863688    959.241566   1202.189513   1574.391991  1146.421690
FL    813.604703    939.084319   1168.909468   1581.638832  1125.809331
DE    826.396402    952.394751   1159.362307   1533.797961  1117.987855
IL    819.726151    941.204392   1125.327517   1447.039325  1083.324346
RI    809.522268    920.134571   1107.831544   1408.277355  1061.441435
GU    743.000000    807.000000   1073.000000   1561.000000  1046.000000
VI    801.381017    891.895656   1102.989559   1382.691701  1044.739483
TX    739.954919    849.899658   1053.010684   1420.377942  1015.810801
NV    672.825182    817.977920   1026.171306   1489.196470  1001.542720
AZ    692.552035    807.601694   1018.177089   1470.946078   997.319224
PA    726.807526    842.197828   1042.218649   1326.965606   984.547402
MN    674.233856    807.728784   1027.096677   1428.702882   984.440550
ME    740.161258    805.389785   1003.605187   1317.646962   966.700798
GA    786.178875    821.005716    963.678542   1273.498597   961.090432
UT    645.527569    779.818171    962.752149   1373.985113   940.520750
NC    692.597426    743.441952    893.507229   1199.984944   882.382888
SC    659.189880    752.245193    896.433745   1191.477616   874.836608
LA    654.410304    752.441571    907.370852   1175.793742   872.504117
MI    616.059138    722.146806    920.868513   1226.561729   871.409047
WY    643.452470    703.596601    897.428621   1217.010837   865.372132
NM    611.363427    712.488340    876.432315   1226.988380   856.818115
ND    621.676294    682.174170    872.933720   1230.809308   851.898373
MT    609.648625    689.256317    879.187634   1226.051974   851.036138
WI    606.725991    704.767521    891.174661   1183.199205   846.466845
TN    612.613662    692.129014    853.146715   1136.771698   823.665272
KS    571.599656    664.796423    851.295074   1150.978147   809.667325
MO    576.644665    664.687476    847.278395   1143.833281   808.110954
ID    568.816417    646.535346    836.355671   1174.987261   806.673674
IN    584.709606    677.846573    848.613794   1114.191413   806.340347
NE    557.786414    667.014760    849.380409   1148.056857   805.559610
OK    585.028184    654.078172    836.967028   1132.753682   802.206766
AL    612.421797    664.726417    805.066068   1070.959066   788.293337
OH    562.523442    650.794011    833.346936   1100.775264   786.859913
MS    582.507232    650.628086    794.094567   1048.913810   769.035924
IA    546.985843    630.245279    807.382725   1080.274698   766.222136
KY    547.110798    613.633061    778.426113   1056.456226   748.906549
WV    573.438460    633.658088    766.899854   1014.716809   747.178303
SD    530.008515    613.649489    781.559990   1059.851932   746.267482
AS    553.000000    556.000000    740.000000   1076.000000   731.250000
AR    543.729806    592.571145    747.861378   1010.460274   723.655651
MP    463.000000    546.000000    726.000000   1048.000000   695.750000
PR    409.132593    431.061640    513.652342    692.855169   511.675436

In [0]:
#how many places either up or down does the ranking system differ from the average system? 
states_average = combined.index

In [0]:
states_ranked = combined.index

In [0]:
difference_states = dict()
for counter,state in enumerate(states_average):
  for second_counter,other_state in enumerate(states_ranked):
    if state == other_state:
      print(counter,second_counter)
      difference_states[state] = counter - second_counter
#How many positions did the average increase vs the ranked method. ex 2 would mean states rank went up 2 with average method

In [49]:
difference_states

{'AK': 0,
 'AL': 0,
 'AR': 0,
 'AS': 0,
 'AZ': 0,
 'CA': 0,
 'CO': 0,
 'CT': 0,
 'DC': 0,
 'DE': 0,
 'FL': 0,
 'GA': 0,
 'GU': 0,
 'HI': 0,
 'IA': 0,
 'ID': 0,
 'IL': 0,
 'IN': 0,
 'KS': 0,
 'KY': 0,
 'LA': 0,
 'MA': 0,
 'MD': 0,
 'ME': 0,
 'MI': 0,
 'MN': 0,
 'MO': 0,
 'MP': 0,
 'MS': 0,
 'MT': 0,
 'NC': 0,
 'ND': 0,
 'NE': 0,
 'NH': 0,
 'NJ': 0,
 'NM': 0,
 'NV': 0,
 'NY': 0,
 'OH': 0,
 'OK': 0,
 'OR': 0,
 'PA': 0,
 'PR': 0,
 'RI': 0,
 'SC': 0,
 'SD': 0,
 'TN': 0,
 'TX': 0,
 'UT': 0,
 'VA': 0,
 'VI': 0,
 'VT': 0,
 'WA': 0,
 'WI': 0,
 'WV': 0,
 'WY': 0}

In [22]:
#apparently there was no difference in ranking when using the average method vs the ranking method . There must not have been too many big discrancies in the numbers or the average would have potentially
#made the ranking wrong if one state is really expensive relative to other rankings that are similar

#best state for single analysts
combined

    rent0*weight  rent1*weight  rent2*weight  rent3*weight      average
DC   1504.000000   1561.000000   1793.000000   2353.000000  1802.750000
HI   1281.016021   1458.482084   1919.259647   2747.340039  1851.524448
NY   1257.679370   1366.147883   1618.142966   2067.452877  1577.355774
CA   1177.386755   1386.287060   1764.617814   2437.558283  1691.462478
MA   1131.370176   1277.459490   1585.603505   1993.129601  1496.890693
MD   1128.628453   1264.818973   1519.477385   1978.650717  1472.893882
NJ   1061.783317   1232.816093   1517.575473   1954.271274  1441.611539
VA   1026.567988   1078.348814   1269.072348   1697.769695  1267.939711
CT    936.897886   1119.066787   1395.212111   1773.201655  1306.094610
AK    933.124133   1052.144323   1355.500360   1918.343267  1314.778021
WA    912.449489   1033.182154   1291.605027   1856.523393  1273.440016
CO    901.070108   1054.017510   1329.473348   1898.860789  1295.855439
NH    862.082325    966.589663   1237.179175   1630.891960  1174.185781
OR    854.875796    955.967415   1170.059828   1696.494514  1169.349388
VT    849.863688    959.241566   1202.189513   1574.391991  1146.421690
DE    826.396402    952.394751   1159.362307   1533.797961  1117.987855
IL    819.726151    941.204392   1125.327517   1447.039325  1083.324346
FL    813.604703    939.084319   1168.909468   1581.638832  1125.809331
RI    809.522268    920.134571   1107.831544   1408.277355  1061.441435
VI    801.381017    891.895656   1102.989559   1382.691701  1044.739483
GA    786.178875    821.005716    963.678542   1273.498597   961.090432
GU    743.000000    807.000000   1073.000000   1561.000000  1046.000000
ME    740.161258    805.389785   1003.605187   1317.646962   966.700798
TX    739.954919    849.899658   1053.010684   1420.377942  1015.810801
PA    726.807526    842.197828   1042.218649   1326.965606   984.547402
NC    692.597426    743.441952    893.507229   1199.984944   882.382888
AZ    692.552035    807.601694   1018.177089   1470.946078   997.319224
MN    674.233856    807.728784   1027.096677   1428.702882   984.440550
NV    672.825182    817.977920   1026.171306   1489.196470  1001.542720
SC    659.189880    752.245193    896.433745   1191.477616   874.836608
LA    654.410304    752.441571    907.370852   1175.793742   872.504117
UT    645.527569    779.818171    962.752149   1373.985113   940.520750
WY    643.452470    703.596601    897.428621   1217.010837   865.372132
ND    621.676294    682.174170    872.933720   1230.809308   851.898373
MI    616.059138    722.146806    920.868513   1226.561729   871.409047
TN    612.613662    692.129014    853.146715   1136.771698   823.665272
AL    612.421797    664.726417    805.066068   1070.959066   788.293337
NM    611.363427    712.488340    876.432315   1226.988380   856.818115
MT    609.648625    689.256317    879.187634   1226.051974   851.036138
WI    606.725991    704.767521    891.174661   1183.199205   846.466845
OK    585.028184    654.078172    836.967028   1132.753682   802.206766
IN    584.709606    677.846573    848.613794   1114.191413   806.340347
MS    582.507232    650.628086    794.094567   1048.913810   769.035924
MO    576.644665    664.687476    847.278395   1143.833281   808.110954
WV    573.438460    633.658088    766.899854   1014.716809   747.178303
KS    571.599656    664.796423    851.295074   1150.978147   809.667325
ID    568.816417    646.535346    836.355671   1174.987261   806.673674
OH    562.523442    650.794011    833.346936   1100.775264   786.859913
NE    557.786414    667.014760    849.380409   1148.056857   805.559610
AS    553.000000    556.000000    740.000000   1076.000000   731.250000
KY    547.110798    613.633061    778.426113   1056.456226   748.906549
IA    546.985843    630.245279    807.382725   1080.274698   766.222136
AR    543.729806    592.571145    747.861378   1010.460274   723.655651
SD    530.008515    613.649489    781.559990   1059.851932   746.267482
MP    463.000000    546.000000    726.000000   1048.000000   695.750000
PR    409.132593    431.061640    513.652342    692.855169   511.675436

In [0]:
wage_count_analysts = countyrent[countyrent['OCC_TITLE'].str.contains('Analysts')].groupby('STATE')['A_MEDIAN'].agg('count').sort_values(ascending=False)
wage_sum_analysts = countyrent[countyrent['OCC_TITLE'].str.contains('Analysts')].groupby('STATE')['A_MEDIAN'].agg('sum').sort_values(ascending=False)

In [63]:
#average salary per analyst job in state
wage_count_analysts
(wage_sum_analysts / wage_count_analysts)

STATE
Alabama                 78540.000000
Alaska                  78702.857143
Arizona                 73305.555556
Arkansas                62420.000000
California              86787.777778
Colorado                82084.444444
Connecticut             86966.250000
Delaware                80636.250000
District of Columbia    99963.333333
Florida                 71312.222222
Georgia                 73671.250000
Guam                    52612.500000
Hawaii                  80033.750000
Idaho                   66842.222222
Illinois                76937.777778
Indiana                 65735.555556
Iowa                    72711.250000
Kansas                  70666.250000
Kentucky                63311.111111
Louisiana               61347.777778
Maine                   71440.000000
Maryland                85400.000000
Massachusetts           75991.111111
Michigan                77131.250000
Minnesota               81448.750000
Mississippi             59713.333333
Missouri                71723.333333
Montana                 66112.500000
Nebraska                58516.666667
Nevada                  71471.111111
New Hampshire           83060.000000
New Jersey              86931.111111
New Mexico              75673.750000
New York                92577.777778
North Carolina          79687.777778
North Dakota            66730.000000
Ohio                    73701.111111
Oklahoma                58893.333333
Oregon                  79250.000000
Pennsylvania            71362.222222
Puerto Rico             45627.500000
Rhode Island            83830.000000
South Carolina          65713.333333
South Dakota            67575.714286
Tennessee               65642.222222
Texas                   79374.444444
Utah                    68897.777778
Vermont                 72472.500000
Virgin Islands          48532.000000
Virginia                81515.555556
Washington              86281.111111
West Virginia           64586.250000
Wisconsin               70586.666667
Wyoming                 67991.428571
Name: A_MEDIAN, dtype: float64

In [25]:
combined

    rent0*weight  rent1*weight  rent2*weight  rent3*weight      average
DC   1504.000000   1561.000000   1793.000000   2353.000000  1802.750000
HI   1281.016021   1458.482084   1919.259647   2747.340039  1851.524448
NY   1257.679370   1366.147883   1618.142966   2067.452877  1577.355774
CA   1177.386755   1386.287060   1764.617814   2437.558283  1691.462478
MA   1131.370176   1277.459490   1585.603505   1993.129601  1496.890693
MD   1128.628453   1264.818973   1519.477385   1978.650717  1472.893882
NJ   1061.783317   1232.816093   1517.575473   1954.271274  1441.611539
VA   1026.567988   1078.348814   1269.072348   1697.769695  1267.939711
CT    936.897886   1119.066787   1395.212111   1773.201655  1306.094610
AK    933.124133   1052.144323   1355.500360   1918.343267  1314.778021
WA    912.449489   1033.182154   1291.605027   1856.523393  1273.440016
CO    901.070108   1054.017510   1329.473348   1898.860789  1295.855439
NH    862.082325    966.589663   1237.179175   1630.891960  1174.185781
OR    854.875796    955.967415   1170.059828   1696.494514  1169.349388
VT    849.863688    959.241566   1202.189513   1574.391991  1146.421690
DE    826.396402    952.394751   1159.362307   1533.797961  1117.987855
IL    819.726151    941.204392   1125.327517   1447.039325  1083.324346
FL    813.604703    939.084319   1168.909468   1581.638832  1125.809331
RI    809.522268    920.134571   1107.831544   1408.277355  1061.441435
VI    801.381017    891.895656   1102.989559   1382.691701  1044.739483
GA    786.178875    821.005716    963.678542   1273.498597   961.090432
GU    743.000000    807.000000   1073.000000   1561.000000  1046.000000
ME    740.161258    805.389785   1003.605187   1317.646962   966.700798
TX    739.954919    849.899658   1053.010684   1420.377942  1015.810801
PA    726.807526    842.197828   1042.218649   1326.965606   984.547402
NC    692.597426    743.441952    893.507229   1199.984944   882.382888
AZ    692.552035    807.601694   1018.177089   1470.946078   997.319224
MN    674.233856    807.728784   1027.096677   1428.702882   984.440550
NV    672.825182    817.977920   1026.171306   1489.196470  1001.542720
SC    659.189880    752.245193    896.433745   1191.477616   874.836608
LA    654.410304    752.441571    907.370852   1175.793742   872.504117
UT    645.527569    779.818171    962.752149   1373.985113   940.520750
WY    643.452470    703.596601    897.428621   1217.010837   865.372132
ND    621.676294    682.174170    872.933720   1230.809308   851.898373
MI    616.059138    722.146806    920.868513   1226.561729   871.409047
TN    612.613662    692.129014    853.146715   1136.771698   823.665272
AL    612.421797    664.726417    805.066068   1070.959066   788.293337
NM    611.363427    712.488340    876.432315   1226.988380   856.818115
MT    609.648625    689.256317    879.187634   1226.051974   851.036138
WI    606.725991    704.767521    891.174661   1183.199205   846.466845
OK    585.028184    654.078172    836.967028   1132.753682   802.206766
IN    584.709606    677.846573    848.613794   1114.191413   806.340347
MS    582.507232    650.628086    794.094567   1048.913810   769.035924
MO    576.644665    664.687476    847.278395   1143.833281   808.110954
WV    573.438460    633.658088    766.899854   1014.716809   747.178303
KS    571.599656    664.796423    851.295074   1150.978147   809.667325
ID    568.816417    646.535346    836.355671   1174.987261   806.673674
OH    562.523442    650.794011    833.346936   1100.775264   786.859913
NE    557.786414    667.014760    849.380409   1148.056857   805.559610
AS    553.000000    556.000000    740.000000   1076.000000   731.250000
KY    547.110798    613.633061    778.426113   1056.456226   748.906549
IA    546.985843    630.245279    807.382725   1080.274698   766.222136
AR    543.729806    592.571145    747.861378   1010.460274   723.655651
SD    530.008515    613.649489    781.559990   1059.851932   746.267482
MP    463.000000    546.000000    726.000000   1048.000000   695.750000
PR    409.132593    431.061640    513.652342    692.855169   511.675436

In [0]:
#how many multiples of rent do states have for analyst positions in each state
singlebed = combined['rent1*weight']

In [27]:
singlebed

DC    1561.000000
HI    1458.482084
NY    1366.147883
CA    1386.287060
MA    1277.459490
MD    1264.818973
NJ    1232.816093
VA    1078.348814
CT    1119.066787
AK    1052.144323
WA    1033.182154
CO    1054.017510
NH     966.589663
OR     955.967415
VT     959.241566
DE     952.394751
IL     941.204392
FL     939.084319
RI     920.134571
VI     891.895656
GA     821.005716
GU     807.000000
ME     805.389785
TX     849.899658
PA     842.197828
NC     743.441952
AZ     807.601694
MN     807.728784
NV     817.977920
SC     752.245193
LA     752.441571
UT     779.818171
WY     703.596601
ND     682.174170
MI     722.146806
TN     692.129014
AL     664.726417
NM     712.488340
MT     689.256317
WI     704.767521
OK     654.078172
IN     677.846573
MS     650.628086
MO     664.687476
WV     633.658088
KS     664.796423
ID     646.535346
OH     650.794011
NE     667.014760
AS     556.000000
KY     613.633061
IA     630.245279
AR     592.571145
SD     613.649489
MP     546.000000
PR     431.061640
Name: rent1*weight, dtype: float64

In [0]:
#turn state initials into full names
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [0]:
state_initials = singlebed.index.to_list()

In [0]:
state_initials

In [0]:
for counter,i in enumerate(state_initials):
  state_initials[counter] = states[i]
state_initials

In [0]:
singlebed.index = state_initials

In [0]:
singlebed = pd.DataFrame(singlebed)

In [0]:
double_check = pd.DataFrame(combined['rent1*weight'])

In [0]:
double_check['states'] = state_initials

In [36]:
#looks right
double_check

                          rent1*weight                    states
District of Columbia       1561.000000      District of Columbia
Hawaii                     1458.482084                    Hawaii
New York                   1366.147883                  New York
California                 1386.287060                California
Massachusetts              1277.459490             Massachusetts
Maryland                   1264.818973                  Maryland
New Jersey                 1232.816093                New Jersey
Virginia                   1078.348814                  Virginia
Connecticut                1119.066787               Connecticut
Alaska                     1052.144323                    Alaska
Washington                 1033.182154                Washington
Colorado                   1054.017510                  Colorado
New Hampshire               966.589663             New Hampshire
Oregon                      955.967415                    Oregon
Vermont                     959.241566                   Vermont
Delaware                    952.394751                  Delaware
Illinois                    941.204392                  Illinois
Florida                     939.084319                   Florida
Rhode Island                920.134571              Rhode Island
Virgin Islands              891.895656            Virgin Islands
Georgia                     821.005716                   Georgia
Guam                        807.000000                      Guam
Maine                       805.389785                     Maine
Texas                       849.899658                     Texas
Pennsylvania                842.197828              Pennsylvania
North Carolina              743.441952            North Carolina
Arizona                     807.601694                   Arizona
Minnesota                   807.728784                 Minnesota
Nevada                      817.977920                    Nevada
South Carolina              752.245193            South Carolina
Louisiana                   752.441571                 Louisiana
Utah                        779.818171                      Utah
Wyoming                     703.596601                   Wyoming
North Dakota                682.174170              North Dakota
Michigan                    722.146806                  Michigan
Tennessee                   692.129014                 Tennessee
Alabama                     664.726417                   Alabama
New Mexico                  712.488340                New Mexico
Montana                     689.256317                   Montana
Wisconsin                   704.767521                 Wisconsin
Oklahoma                    654.078172                  Oklahoma
Indiana                     677.846573                   Indiana
Mississippi                 650.628086               Mississippi
Missouri                    664.687476                  Missouri
West Virginia               633.658088             West Virginia
Kansas                      664.796423                    Kansas
Idaho                       646.535346                     Idaho
Ohio                        650.794011                      Ohio
Nebraska                    667.014760                  Nebraska
American Samoa              556.000000            American Samoa
Kentucky                    613.633061                  Kentucky
Iowa                        630.245279                      Iowa
Arkansas                    592.571145                  Arkansas
South Dakota                613.649489              South Dakota
Northern Mariana Islands    546.000000  Northern Mariana Islands
Puerto Rico                 431.061640               Puerto Rico

In [0]:
singlebed['wages_average'] = (wage_sum_analysts / wage_count_analysts)

In [65]:
singlebed

                          rent1*weight  wages_average
District of Columbia       1561.000000   99963.333333
Hawaii                     1458.482084   80033.750000
New York                   1366.147883   92577.777778
California                 1386.287060   86787.777778
Massachusetts              1277.459490   75991.111111
Maryland                   1264.818973   85400.000000
New Jersey                 1232.816093   86931.111111
Virginia                   1078.348814   81515.555556
Connecticut                1119.066787   86966.250000
Alaska                     1052.144323   78702.857143
Washington                 1033.182154   86281.111111
Colorado                   1054.017510   82084.444444
New Hampshire               966.589663   83060.000000
Oregon                      955.967415   79250.000000
Vermont                     959.241566   72472.500000
Delaware                    952.394751   80636.250000
Illinois                    941.204392   76937.777778
Florida                     939.084319   71312.222222
Rhode Island                920.134571   83830.000000
Virgin Islands              891.895656   48532.000000
Georgia                     821.005716   73671.250000
Guam                        807.000000   52612.500000
Maine                       805.389785   71440.000000
Texas                       849.899658   79374.444444
Pennsylvania                842.197828   71362.222222
North Carolina              743.441952   79687.777778
Arizona                     807.601694   73305.555556
Minnesota                   807.728784   81448.750000
Nevada                      817.977920   71471.111111
South Carolina              752.245193   65713.333333
Louisiana                   752.441571   61347.777778
Utah                        779.818171   68897.777778
Wyoming                     703.596601   67991.428571
North Dakota                682.174170   66730.000000
Michigan                    722.146806   77131.250000
Tennessee                   692.129014   65642.222222
Alabama                     664.726417   78540.000000
New Mexico                  712.488340   75673.750000
Montana                     689.256317   66112.500000
Wisconsin                   704.767521   70586.666667
Oklahoma                    654.078172   58893.333333
Indiana                     677.846573   65735.555556
Mississippi                 650.628086   59713.333333
Missouri                    664.687476   71723.333333
West Virginia               633.658088   64586.250000
Kansas                      664.796423   70666.250000
Idaho                       646.535346   66842.222222
Ohio                        650.794011   73701.111111
Nebraska                    667.014760   58516.666667
American Samoa              556.000000            NaN
Kentucky                    613.633061   63311.111111
Iowa                        630.245279   72711.250000
Arkansas                    592.571145   62420.000000
South Dakota                613.649489   67575.714286
Northern Mariana Islands    546.000000            NaN
Puerto Rico                 431.061640   45627.500000

In [66]:
#best average wage to rent
singlebed['wagetorent'] = singlebed['wages_average'] / singlebed['rent1*weight']
singlebed

                          rent1*weight  wages_average  wagetorent
District of Columbia       1561.000000   99963.333333   64.038010
Hawaii                     1458.482084   80033.750000   54.874688
New York                   1366.147883   92577.777778   67.765561
California                 1386.287060   86787.777778   62.604478
Massachusetts              1277.459490   75991.111111   59.486122
Maryland                   1264.818973   85400.000000   67.519544
New Jersey                 1232.816093   86931.111111   70.514257
Virginia                   1078.348814   81515.555556   75.592938
Connecticut                1119.066787   86966.250000   77.713190
Alaska                     1052.144323   78702.857143   74.802340
Washington                 1033.182154   86281.111111   83.510067
Colorado                   1054.017510   82084.444444   77.877686
New Hampshire               966.589663   83060.000000   85.930983
Oregon                      955.967415   79250.000000   82.900315
Vermont                     959.241566   72472.500000   75.551876
Delaware                    952.394751   80636.250000   84.666836
Illinois                    941.204392   76937.777778   81.743964
Florida                     939.084319   71312.222222   75.938040
Rhode Island                920.134571   83830.000000   91.106239
Virgin Islands              891.895656   48532.000000   54.414437
Georgia                     821.005716   73671.250000   89.732932
Guam                        807.000000   52612.500000   65.195167
Maine                       805.389785   71440.000000   88.702391
Texas                       849.899658   79374.444444   93.392724
Pennsylvania                842.197828   71362.222222   84.733325
North Carolina              743.441952   79687.777778  107.187626
Arizona                     807.601694   73305.555556   90.769443
Minnesota                   807.728784   81448.750000  100.836756
Nevada                      817.977920   71471.111111   87.375355
South Carolina              752.245193   65713.333333   87.356269
Louisiana                   752.441571   61347.777778   81.531617
Utah                        779.818171   68897.777778   88.351080
Wyoming                     703.596601   67991.428571   96.634106
North Dakota                682.174170   66730.000000   97.819594
Michigan                    722.146806   77131.250000  106.808269
Tennessee                   692.129014   65642.222222   94.841021
Alabama                     664.726417   78540.000000  118.153872
New Mexico                  712.488340   75673.750000  106.210510
Montana                     689.256317   66112.500000   95.918599
Wisconsin                   704.767521   70586.666667  100.155959
Oklahoma                    654.078172   58893.333333   90.040206
Indiana                     677.846573   65735.555556   96.977042
Mississippi                 650.628086   59713.333333   91.777983
Missouri                    664.687476   71723.333333  107.905348
West Virginia               633.658088   64586.250000  101.926025
Kansas                      664.796423   70666.250000  106.297578
Idaho                       646.535346   66842.222222  103.385256
Ohio                        650.794011   73701.111111  113.247986
Nebraska                    667.014760   58516.666667   87.729193
American Samoa              556.000000            NaN         NaN
Kentucky                    613.633061   63311.111111  103.174218
Iowa                        630.245279   72711.250000  115.369765
Arkansas                    592.571145   62420.000000  105.337562
South Dakota                613.649489   67575.714286  110.121031
Northern Mariana Islands    546.000000            NaN         NaN
Puerto Rico                 431.061640   45627.500000  105.849131

In [67]:
singlebed.sort_values(by='wagetorent')

                          rent1*weight  wages_average  wagetorent
Virgin Islands              891.895656   48532.000000   54.414437
Hawaii                     1458.482084   80033.750000   54.874688
Massachusetts              1277.459490   75991.111111   59.486122
California                 1386.287060   86787.777778   62.604478
District of Columbia       1561.000000   99963.333333   64.038010
Guam                        807.000000   52612.500000   65.195167
Maryland                   1264.818973   85400.000000   67.519544
New York                   1366.147883   92577.777778   67.765561
New Jersey                 1232.816093   86931.111111   70.514257
Alaska                     1052.144323   78702.857143   74.802340
Vermont                     959.241566   72472.500000   75.551876
Virginia                   1078.348814   81515.555556   75.592938
Florida                     939.084319   71312.222222   75.938040
Connecticut                1119.066787   86966.250000   77.713190
Colorado                   1054.017510   82084.444444   77.877686
Louisiana                   752.441571   61347.777778   81.531617
Illinois                    941.204392   76937.777778   81.743964
Oregon                      955.967415   79250.000000   82.900315
Washington                 1033.182154   86281.111111   83.510067
Delaware                    952.394751   80636.250000   84.666836
Pennsylvania                842.197828   71362.222222   84.733325
New Hampshire               966.589663   83060.000000   85.930983
South Carolina              752.245193   65713.333333   87.356269
Nevada                      817.977920   71471.111111   87.375355
Nebraska                    667.014760   58516.666667   87.729193
Utah                        779.818171   68897.777778   88.351080
Maine                       805.389785   71440.000000   88.702391
Georgia                     821.005716   73671.250000   89.732932
Oklahoma                    654.078172   58893.333333   90.040206
Arizona                     807.601694   73305.555556   90.769443
Rhode Island                920.134571   83830.000000   91.106239
Mississippi                 650.628086   59713.333333   91.777983
Texas                       849.899658   79374.444444   93.392724
Tennessee                   692.129014   65642.222222   94.841021
Montana                     689.256317   66112.500000   95.918599
Wyoming                     703.596601   67991.428571   96.634106
Indiana                     677.846573   65735.555556   96.977042
North Dakota                682.174170   66730.000000   97.819594
Wisconsin                   704.767521   70586.666667  100.155959
Minnesota                   807.728784   81448.750000  100.836756
West Virginia               633.658088   64586.250000  101.926025
Kentucky                    613.633061   63311.111111  103.174218
Idaho                       646.535346   66842.222222  103.385256
Arkansas                    592.571145   62420.000000  105.337562
Puerto Rico                 431.061640   45627.500000  105.849131
New Mexico                  712.488340   75673.750000  106.210510
Kansas                      664.796423   70666.250000  106.297578
Michigan                    722.146806   77131.250000  106.808269
North Carolina              743.441952   79687.777778  107.187626
Missouri                    664.687476   71723.333333  107.905348
South Dakota                613.649489   67575.714286  110.121031
Ohio                        650.794011   73701.111111  113.247986
Iowa                        630.245279   72711.250000  115.369765
Alabama                     664.726417   78540.000000  118.153872
American Samoa              556.000000            NaN         NaN
Northern Mariana Islands    546.000000            NaN         NaN

In [0]:
#alabama is the best - the midwest is near the best as far as affordable median rents compared to median analyst earnings for 1 bedrooms

In [0]:
doublebed = combined['rent2*weight']

In [0]:
triplebed = combined['rent3*weight']

In [0]:
studiobed= combined['rent0*weight']

In [0]:
state_initials = doublebed.index.to_list()
for counter,i in enumerate(state_initials):
  state_initials[counter] = states[i]
state_initials
doublebed.index = state_initials
doublebed = pd.DataFrame(doublebed)
state_initials = triplebed.index.to_list()
for counter,i in enumerate(state_initials):
  state_initials[counter] = states[i]
state_initials
triplebed.index = state_initials
triplebed = pd.DataFrame(triplebed)
state_initials = studiobed.index.to_list()
for counter,i in enumerate(state_initials):
  state_initials[counter] = states[i]
state_initials
studiobed.index = state_initials
studiobed = pd.DataFrame(studiobed)

In [0]:
doublebed['wagetorent'] = singlebed['wages_average'] / doublebed['rent2*weight']
triplebed['wagetorent'] = singlebed['wages_average'] / triplebed['rent3*weight']
studiobed['wagetorent'] = singlebed['wages_average'] / studiobed['rent0*weight']

In [74]:
doublebed.sort_values(by='wagetorent')

                          rent2*weight  wagetorent
Hawaii                     1919.259647   41.700324
Virgin Islands             1102.989559   44.000417
Massachusetts              1585.603505   47.925671
Guam                       1073.000000   49.033085
California                 1764.617814   49.182195
District of Columbia       1793.000000   55.751999
Maryland                   1519.477385   56.203535
New York                   1618.142966   57.212360
New Jersey                 1517.575473   57.282891
Alaska                     1355.500360   58.061849
Vermont                    1202.189513   60.283757
Florida                    1168.909468   61.007481
Colorado                   1329.473348   61.742076
Connecticut                1395.212111   62.331920
Virginia                   1269.072348   64.232394
Washington                 1291.605027   66.801467
New Hampshire              1237.179175   67.136597
Louisiana                   907.370852   67.610479
Oregon                     1170.059828   67.731579
Illinois                   1125.327517   68.369232
Pennsylvania               1042.218649   68.471450
Nebraska                    849.380409   68.893356
Delaware                   1159.362307   69.552244
Nevada                     1026.171306   69.648324
Oklahoma                    836.967028   70.365177
Maine                      1003.605187   71.183371
Utah                        962.752149   71.563359
Arizona                    1018.177089   71.996862
South Carolina              896.433745   73.305287
Mississippi                 794.094567   75.196753
Montana                     879.187634   75.197259
Texas                      1053.010684   75.378575
Rhode Island               1107.831544   75.670349
Wyoming                     897.428621   75.762492
North Dakota                872.933720   76.443375
Georgia                     963.678542   76.447951
Tennessee                   853.146715   76.941306
Indiana                     848.613794   77.462276
Wisconsin                   891.174661   79.206321
Minnesota                  1027.096677   79.299984
Idaho                       836.355671   79.920809
Kentucky                    778.426113   81.332204
Kansas                      851.295074   83.010289
Arkansas                    747.861378   83.464666
Michigan                    920.868513   83.759243
West Virginia               766.899854   84.217319
Missouri                    847.278395   84.651437
New Mexico                  876.432315   86.342948
South Dakota                781.559990   86.462607
Ohio                        833.346936   88.439890
Puerto Rico                 513.652342   88.829538
North Carolina              893.507229   89.185376
Iowa                        807.382725   90.057971
Alabama                     805.066068   97.557211
American Samoa              740.000000         NaN
Northern Mariana Islands    726.000000         NaN

In [75]:
triplebed.sort_values(by='wagetorent')

                          rent3*weight  wagetorent
Hawaii                     2747.340039   29.131359
Guam                       1561.000000   33.704356
Virgin Islands             1382.691701   35.099654
California                 2437.558283   35.604391
Massachusetts              1993.129601   38.126528
Alaska                     1918.343267   41.026472
District of Columbia       2353.000000   42.483355
Maryland                   1978.650717   43.160725
Colorado                   1898.860789   43.228258
New Jersey                 1954.271274   44.482622
New York                   2067.452877   44.778664
Florida                    1581.638832   45.087551
Vermont                    1574.391991   46.032056
Washington                 1856.523393   46.474562
Oregon                     1696.494514   46.713974
Nevada                     1489.196470   47.993070
Virginia                   1697.769695   48.013318
Connecticut                1773.201655   49.044760
Arizona                    1470.946078   49.835651
Utah                       1373.985113   50.144486
New Hampshire              1630.891960   50.929186
Nebraska                   1148.056857   50.970182
Oklahoma                   1132.753682   51.991297
Louisiana                  1175.793742   52.175629
Delaware                   1533.797961   52.572928
Illinois                   1447.039325   53.169099
Pennsylvania               1326.965606   53.778502
Montana                    1226.051974   53.923081
North Dakota               1230.809308   54.216360
Maine                      1317.646962   54.217861
South Carolina             1191.477616   55.152806
Wyoming                    1217.010837   55.867562
Texas                      1420.377942   55.882623
Idaho                      1174.987261   56.887614
Mississippi                1048.913810   56.928732
Minnesota                  1428.702882   57.008879
Tennessee                  1136.771698   57.744420
Georgia                    1273.498597   57.849494
Indiana                    1114.191413   58.998440
Rhode Island               1408.277355   59.526626
Wisconsin                  1183.199205   59.657466
Kentucky                   1056.456226   59.927813
Kansas                     1150.978147   61.396691
New Mexico                 1226.988380   61.674382
Arkansas                   1010.460274   61.773829
Missouri                   1143.833281   62.704360
Michigan                   1226.561729   62.884116
West Virginia              1014.716809   63.649532
South Dakota               1059.851932   63.759580
Puerto Rico                 692.855169   65.854311
North Carolina             1199.984944   66.407315
Ohio                       1100.775264   66.953822
Iowa                       1080.274698   67.308112
Alabama                    1070.959066   73.336136
American Samoa             1076.000000         NaN
Northern Mariana Islands   1048.000000         NaN

In [76]:
studiobed.sort_values(by='wagetorent')

                          rent0*weight  wagetorent
Virgin Islands              801.381017   60.560456
Hawaii                     1281.016021   62.476775
District of Columbia       1504.000000   66.464982
Massachusetts              1131.370176   67.167328
Guam                        743.000000   70.810902
New York                   1257.679370   73.609999
California                 1177.386755   73.712208
Maryland                   1128.628453   75.667063
Virginia                   1026.567988   79.405901
New Jersey                 1061.783317   81.872742
Alaska                      933.124133   84.343395
Vermont                     849.863688   85.275440
Florida                     813.604703   87.649717
Colorado                    901.070108   91.096624
Oregon                      854.875796   92.703525
Connecticut                 936.897886   92.823616
Georgia                     786.178875   93.708000
Louisiana                   654.410304   93.745128
Illinois                    819.726151   93.857903
Washington                  912.449489   94.559877
New Hampshire               862.082325   96.348107
Maine                       740.161258   96.519507
Delaware                    826.396402   97.575752
Pennsylvania                726.807526   98.185860
South Carolina              659.189880   99.688019
Oklahoma                    585.028184  100.667515
Mississippi                 582.507232  102.510887
Rhode Island                809.522268  103.554903
Nebraska                    557.786414  104.908734
Wyoming                     643.452470  105.666590
Arizona                     692.552035  105.848444
Nevada                      672.825182  106.225381
Utah                        645.527569  106.730961
Tennessee                   612.613662  107.151091
Texas                       739.954919  107.269298
North Dakota                621.676294  107.338820
Montana                     609.648625  108.443614
Puerto Rico                 409.132593  111.522525
Indiana                     584.709606  112.424278
West Virginia               573.438460  112.629784
Arkansas                    543.729806  114.799666
North Carolina              692.597426  115.056416
Kentucky                    547.110798  115.718994
Wisconsin                   606.725991  116.340272
Idaho                       568.816417  117.511064
Minnesota                   674.233856  120.801928
Kansas                      571.599656  123.628923
New Mexico                  611.363427  123.778667
Missouri                    576.644665  124.380468
Michigan                    616.059138  125.201048
South Dakota                530.008515  127.499299
Alabama                     612.421797  128.244946
Ohio                        562.523442  131.018737
Iowa                        546.985843  132.930771
American Samoa              553.000000         NaN
Northern Mariana Islands    463.000000         NaN

In [0]:
combinedmultiplesofrent = studiobed['wagetorent'] + singlebed['wagetorent'] + doublebed['wagetorent'] + triplebed['wagetorent']

In [79]:
combinedmultiplesofrent.sort_values()

Hawaii                      188.183148
Virgin Islands              194.074964
Massachusetts               212.705648
Guam                        218.743510
California                  221.103272
District of Columbia        228.738345
Maryland                    242.550867
New York                    243.366584
New Jersey                  254.152513
Alaska                      258.234056
Vermont                     267.143129
Virginia                    267.244551
Florida                     269.682789
Colorado                    273.944643
Connecticut                 281.913487
Oregon                      290.049393
Washington                  291.345973
Louisiana                   295.062852
Illinois                    297.140198
New Hampshire               300.344873
Delaware                    304.367759
Pennsylvania                305.169137
Maine                       310.623131
Nevada                      311.242130
Nebraska                    312.501465
Oklahoma                    313.064195
South Carolina              315.502381
Utah                        316.789887
Georgia                     317.738377
Arizona                     318.450400
Mississippi                 326.414356
Rhode Island                329.858118
Texas                       331.923219
Montana                     333.482552
Wyoming                     333.930750
North Dakota                335.818149
Tennessee                   336.677837
Indiana                     345.862036
Wisconsin                   355.360018
Idaho                       357.704744
Minnesota                   357.947547
Kentucky                    360.153228
West Virginia               362.422660
Arkansas                    365.375723
Puerto Rico                 372.055505
Kansas                      374.333482
North Carolina              377.836732
New Mexico                  378.006507
Michigan                    378.652676
Missouri                    379.641612
South Dakota                387.842517
Ohio                        399.660435
Iowa                        405.666619
Alabama                     417.292164
American Samoa                     NaN
Northern Mariana Islands           NaN
Name: wagetorent, dtype: float64

In [0]:
#alabama has the most overall multiples of rent compared to the average analyst salary when using the median salaries and studio single double and triple rooms
#it is almost twice as much as california meaning with an analyst salary in alabama you can buy two properties with your salary relative to in california you could buy only one
#there are other cost of living factors such as price of utilities, how many jobs are there? hard to get or not? price of groceries, water quality, air quality, shopping, bike trails, local businesses
# unemployment, demographics, crime, happiness, weather , activities you like to do vs not?